.slider-home{
	position: relative;
	width: 100%;
	height: 800px;
	@media (max-width: 1920px){
		height: 614px;
	}
	@media (max-width: 1600px){
		height: 510px;
	}
	@media (max-width: 1100px){
		height: 370px;
	}
}

@import "_slide-box";
@import "_slide-nav";