/* Слайдер */
.slide-box{
	width: 100%;
	height: 100%;
	margin: 0 !important;
	.slick-list, .slick-track, .slide-box__item, .slide-box__img{
		height: 100%;
	}
	.slide-box__item{
	    position: relative;
	    z-index: 1;
	    overflow: hidden;
	    width: 100%;
	}
	.slide-box__content, .slide-box__name, .slide-box__desc, .slide-box__info{
		-webkit-animation-duration: 1s;
				animation-duration: 1s;
		-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
	}
	.slide-box__img{
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: rgba($colorBlack, .4);
		}
	}
	.slide-box__content{
		@extend .content;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 50%;
		@include transform(translateX(-50%));
		height: 100%;
	}
	.slide-box__info{
		width: 720px;
		padding: 120px 0 0;
	}
	.slide-box__name{
		color: $colorWhite;
		font-size: 75px;
		font-family: $fontBold;
		font-weight: bold;
		line-height: 98%;
		.line-bottom{
			border-bottom: 4px solid $colorWhite;
			line-height: 1.0;
		}
	}
}

@media (max-width: 1600px){
	.slide-box{
		.slide-box__info{
			width: 620px;
			padding: 100px 0 0;
		}
		.slide-box__name{
			font-size: 62px;
			line-height: 98%;
			.line-bottom{
				border-width: 3px;
				line-height: 1.0;
			}
		}
	}
}

@media (max-width: 1100px){
	.slide-box{
		.slide-box__info{
			width: 440px;
			padding: 70px 0 0;
		}
		.slide-box__name{
			font-size: 44px;
			line-height: 98%;
			.line-bottom{
				border-width: 2px;
				line-height: 1.0;
			}
		}
	}
}

@media (max-width: 768px){
	.slide-box{
		.slide-box__info{
			width: 420px;
			padding: 70px 0 0;
		}
		.slide-box__name{
			font-size: 40px;
			line-height: 98%;
			.line-bottom{
				border-width: 2px;
				line-height: 1.0;
			}
		}
	}
}

@media (max-width: 480px){
	.slide-box{
		.slide-box__info{
			width: 100%;
			padding: 60px 0 0;
		}
		.slide-box__name{
			font-size: 34px;
			line-height: 110%;
		}
	}
}

@media (max-width: 360px){
	.slide-box{
		.slide-box__info{
			padding: 60px 0 0;
		}
		.slide-box__name{
			font-size: 30px;
		}
	}
}