.slide-nav-content{
	@extend .content;
	position: absolute;
	z-index: 1;
	bottom: 90px;
	left: 50%;
	@include transform(translateX(-50%));
	.slide-nav-content__item{
		width: calc(100% - 450px);
		&.slide-nav{
			width: 450px;
		}
	}
}

.slide-nav{
	.slide-nav__progress{
		width: calc(100% - 205px);
		padding: 0 25px 0 0;
	}
	.slide-nav__counter{
		width: 105px;
		padding: 0 5px 0 0;
	}
	.slide-nav__arrows{
		width: 100px;
		.slick-prev,
		.slick-next {
			background: $colorWhite;
			svg{
		 		path{
		            fill: $color161616;
		        }
		    }
		    &:hover, &:focus {
		 		border-color: $color93754D !important;
		        background: $color93754D !important;
		        svg{
		            path{
		                fill: $colorWhite;
		            }
		        }
		    }
		}
		.slick-prev {
		    background: $color161616;
		     svg{
		        path{
		            fill: $colorWhite;
		        }
		    }
		}
	}
}

.nav-counter{
	color: $colorWhite;
	font-size: 24px;
	font-family: $fontMedium;
	font-weight: 500;
	line-height: 30px;
	span{
		display: inline-block;
		min-width: 32px;
		font-size: 48px;
		line-height: 60px;
		text-align: right;
	}
}

.nav-arrows{
	position: relative;
	.slick-prev,
	.slick-next {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		@include transform(translate(0, 0));
	}
	.slick-prev {
		left: auto;
	}
	.slick-next {
		right: auto;
	}
}

@media (max-width: 1600px){
	.slide-nav-content{
		bottom: 70px;
		.slide-nav-content__item{
			width: calc(100% - 400px);
			&.slide-nav{
				width: 400px;
			}
		}
	}
	.slide-nav{
		.slide-nav__progress{
			width: calc(100% - 195px);
			padding: 0 25px 0 0;
		}
		.slide-nav__counter{
			width: 105px;
			padding: 0 5px 0 0;
		}
		.slide-nav__arrows{
			width: 90px;
		}
	}
	.nav-counter{
		font-size: 20px;
		line-height: 26px;
		span{
			min-width: 32px;
			font-size: 44px;
			line-height: 56px;
		}
	}
}

@media (max-width: 1100px){
	.slide-nav-content{
		bottom: 40px;
		.slide-nav-content__item{
			width: calc(100% - 360px);
			&.slide-nav{
				width: 360px;
			}
		}
	}
	.slide-nav{
		.slide-nav__progress{
			width: calc(100% - 160px);
			padding: 0 25px 0 0;
		}
		.slide-nav__counter{
			width: 80px;
			padding: 0 5px 0 0;
		}
		.slide-nav__arrows{
			width: 80px;
		}
	}
	.nav-counter{
		font-size: 16px;
		line-height: 22px;
		span{
			min-width: 30px;
			font-size: 36px;
			line-height: 40px;
		}
	}
}

@media (max-width: 768px){
	.slide-nav-content{
		.slide-nav-content__item{
			width: calc(100% - 150px);
			&.slide-nav{
				width: 150px;
			}
		}
	}
	.slide-nav{
		.slide-nav__progress{
			display: none;
		}
		.slide-nav__counter{
			width: 70px;
			padding: 0 5px 0 0;
		}
		.slide-nav__arrows{
			width: 80px;
		}
	}
	.nav-counter{
		font-size: 15px;
		line-height: 21px;
		span{
			min-width: 28px;
			font-size: 32px;
			line-height: 40px;
		}
	}
}

@media (max-width: 480px){
	.slide-nav-content{
		bottom: 15px;
		@include flex-wrap(wrap);
		.slide-nav-content__item{
			width: 100%;
		    padding: 0 0 15px;
			&.slide-nav{
				width: 150px;
				margin: 0 0 0 auto;
			}
		}
	}
}