@charset "UTF-8";

// Slick icon entity codes outputs the following
// "\2022" outputs ascii character "•"

$slick-font-path: "../stick/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "../stick/" !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */
.slick-list {
    .slick-loading & {
        background: #fff url("../images/ajax-loader.gif") center center no-repeat;
    }
}


/* Arrows */
.slick-prev,
.slick-next {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    position: absolute;
    z-index: 10;
    display: block;
    cursor: pointer;
    top: -30px;
    padding: 0;
    outline: none;
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
    background: $color6B6B6B;
    @include border-radius(0);
    @include transform(translate(0, -100%));
    @include transition(.3s);
    svg{
        width: 20px;
        height: 100%;
        margin: 0 auto;
        @include transition(.3s);
        path{
            fill: $colorWhite;
        }
    }
    &:hover, &:focus {
        outline: none;
        opacity: 1;
        border: none !important;
        background: $color93754D !important;
        svg{
            path{
                fill: $colorWhite;
            }
        }
    }
    &.slick-disabled {
        opacity: $slick-opacity-not-active;
    }
}
.slick-prev {
    left: 0;
    background: $color161616;
     svg{
        path{
            fill: $colorWhite;
        }
    }
}

.slick-prev {
    left: -65px;
}
.slick-next {
    right: -65px;
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}
.slick-dots {
    position: absolute;
    bottom: -30px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 6px;
        padding: 0;
        cursor: pointer;
        button {
            display: block;
            width: 100%;
            height: 100%;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 0;
            cursor: pointer;
            border: 0;
            background: $color6B6B6B;
            @include border-radius(50%);
            &:hover, &:focus {
                outline: none;
            }
        }
        &.slick-active button {
            border: 0;
            background: $color161616;
        }
    }
}

@media (min-width: 861px){
    .slickGallery-nav{
        display: none;
    }
}

@media (max-width: 1600px){
    .slick-prev,
    .slick-next {
        width: 45px;
        height: 45px;
        svg{
            width: 19px;
        }
    }
    .slick-prev {
        left: -60px;
    }
    .slick-next {
        right: -60px;
    }
}

@media (max-width: 1200px) AND (min-width: 1101px){
    .slick-prev {
        left: -30px;
    }
    .slick-next {
        right: -30px;
    }
}

@media (max-width: 1100px){
    .slick-prev,
    .slick-next {
        width: 40px;
        height: 40px;
        svg{
            width: 16px;
        }
    }
    .slick-prev {
        left: -40px;
    }
    .slick-next {
        right: -40px;
    }
}

@media (max-width: 860px){
    .slickGallery-nav{
        display: none;
        padding: 10px 0 20px;
        .slickGallery-nav__dots{
            .slick-dots {
                display: -webkit-flex !important;
                 display: -webkit-box !important;
                 display: -ms-flexbox !important;
                    display: -moz-box !important;
                        display: flex !important;
                @include flex-wrap(wrap);
                @include align-items(center);
                position: relative;
                bottom: auto;
                list-style: none;
                width: auto;
                padding: 0 20px;
                li{
                    vertical-align: middle;
                }
            }
        }
        .slick-prev,
        .slick-next {
            position: relative;
            top: auto;
            left: auto;
            right: auto !important;
            width: 12px;
            height: 22px;
            border: none;
            background: transparent;
            @include transform(translate(0, 0));
            svg{
                width: 100%;
                path{
                    fill: transparent;
                    stroke: $color161616;
                }
            }
            &:hover, &:focus {
                background: transparent !important;
                svg{
                    path{
                        fill: transparent;
                        stroke: $color93754D;
                    }
                }
            }
        }
    }

}

@media (max-width: 480px){
    .slick-dots {
        li {
            width: 32px;
            margin: 0 5px;
        }
    }
}