
@include fontface("Geometria-Regular", "Geometria-Regular");
@include fontface("Geometria-Medium", "Geometria-Medium");
@include fontface("Geometria-Bold", "Geometria-Bold");


$fontRegular: Geometria-Regular;
$fontMedium: Geometria-Medium;
$fontBold: Geometria-Bold;