body, div, a {
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
	&:hover, &:focus, &:active{
		text-decoration: none; 
	}
}

a:focus {outline: 0;}

img {
	max-width: 100%;
}

html{
	width: 100%;
	height: 100%;
}
body{
	@extend html;
	font-family: $fontRegular;
	font-style: normal;
	background: $colorWhite;
	@media (min-width: 1000px){
		&.modal-open{
			padding-right: 17px;
		}
	}
}

.line-main-screen-black{
	@include background-gradient('left', rgba(10, 18, 24, 0), rgba(255, 255, 255, .15), 440px, 441px);
	background-size: 441px 441px;
	background-position: center;
	background-color: #0a1218;
}

.line-content-white{
	@include background-gradient('left', rgba(255,255,255, 1), rgba(#B2B2B2, .15), 440px, 441px);
    background-size: 441px 441px;
    background-position: center;
}

.wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
}
.wrap1 {
  	flex: 1 0 auto;
  	overflow: hidden;
}
.wrap2 {
  	flex: 0 0 auto;
}
