.portfolio-page-typeOne{
	padding: 0;
	@media (max-width: 640px){
		padding: 0 0 70px;
	}
}

.portfolio-inline-back{
	&:before, &:after{
		content: '';
		position: absolute;
		z-index: 0;
		background: $colorF5F5F5;
	}
}

@import "_portfolio-header";
@import "_portfolio-nav";
@import "_portfolio-inline";
@import "_portfolio-box";
@import "_portfolio-caseOne-box";
@import "_portfolio-caseOne-list";
@import "_portfolio-caseOne-grid";
@import "_portfolio-view";