.portfolio-page-typeTwo{
	position: relative;
	padding: 0 0 80px;
	.content{
		position: relative;
		z-index: 1;
	}
	.portfolio-inline-back{
		&:before{
			top: 230px;
			left: 0;
			width: 946px;
			height: 1046px;
		}
		&:after{
			bottom: 210px;
			right: 0;
			width: 1181px;
			height: 989px;
		}
		&.portfolio-inline-back-2{
			&:after{
				bottom: 120px;
			}
		}
	}
	.back-logo{
		&.back-t-r{
			@include transform(translate(190px, -160px));
		}
	}
}
.portfolio-caseOne-list{
	.portfolio-caseOne-list__item{
		width: 100%;
		margin: 0 0 130px;
		&:last-child{
			margin: 0 0 40px;
		}
		&.loading{
			position: relative;
			.portfolio-case-gallery{
				.slick-slide{
					// width: 100% !important;
				}
			}
			/*&:after{
				content: '';
				position: absolute;
			    top: 0;
			    left: 0;
			    z-index: 10;
			    width: 100%;
			    height: 100%;
				background: rgba(255, 255, 255, 1) url("../images/ajax-loader.gif") center center no-repeat;
			}*/
		}
		&.active{
			position: relative;
			.portfolio-caseOne-list__media{
				width: 100%;
				height: 695px;
			}
			.portfolio-caseOne-list__img{
				source, img{
					width: 100%;
				}
			}
			.portfolio-caseOne-list__info{
				position: absolute;
				opacity: 0;
				pointer-events: none;
			}
		}
	}
	.portfolio-caseOne-list__media{
		position: relative;
		overflow: hidden;
		width: 690px;
		height: 400px;
		cursor: pointer;
		// @include transition(.1s);
	}
	.portfolio-caseOne-list__img{
		width: 100%;
		height: 100%;
		a{
			display: block;
		}
		a, picture{
			width: 100%;
			height: 100%;
		}
		/*&:hover, &:focus, &:active{
			source, img{
				@include transform(scale(1.05));
				@include transition(.3s);
			}
		}*/
	}
	.portfolio-caseOne-list__media{
	}
	.portfolio-caseOne-list__info{
		width: calc(100% - 690px);
		padding: 20px 0 20px 60px;
	}
	.portfolio-caseOne-list__name{
		color: $color161616;
		font-size: 32px;
		font-family: $fontBold;
		font-weight: bold;
		line-height: 40px;
		text-transform: uppercase;
		padding: 0 0 25px;
	}
	.portfolio-caseOne-list__desc{
		strong{
			font-size: 18px;
			font-family: $fontBold;
			font-weight: bold;
			line-height: 24px;
		}
		p{
			line-height: 24px;
		}
	}
	.portfolio-caseOne-list__but{
		padding: 30px 0 0;
	}
}
.portfolio-case-gallery{
	width: 100%;
	height: 100%;
	.slick-list, .slick-track, .portfolio-case-gallery__item{
		height: 100%;
	}
	.slick-slide{
		// @include transition(.2s);
	}
	.portfolio-case-gallery__img{
		height: 100%;
		a{
			display: block;
		}
		a, picture{
			width: 100%;
			height: 100%;
		}
	}
	.slick-prev, .slick-next{
		top: auto;
		@include transform(translate(0, 0));
		bottom: 0;
		left: auto !important;
	}
	.slick-prev{
		right: 50px !important;
	}
	.slick-next{
		right: 0 !important;
	}
}

@media (max-width: 1900px){
	.portfolio-page-typeTwo{
		.portfolio-inline-back{
			&:before{
				left: calc(50% - 950px);
			}
			&:after{
			    right: calc(50% - 950px);
			}
		}
	}
}

@media (max-width: 1600px){
	.portfolio-page-typeTwo{
		.portfolio-inline-back{
			&:before{
				top: 230px;
				left: calc(50% - 800px);
				width: 790px;
				height: 870px;
			}
			&:after{
				bottom: 246px;
				right: calc(50% - 800px);
				width: 985px;
				height: 825px;
			}
			&.portfolio-inline-back-2{
				&:after{
					bottom: 120px;
				}
			}
		}
		.back-logo{
			&.back-t-r{
				@include transform(translate(160px,-145px));
			}
		}
	}

	.portfolio-caseOne-list{
		.portfolio-caseOne-list__item{
			margin: 0 0 110px;
			&:last-child{
				margin: 0 0 40px;
			}
			&.active{
				.portfolio-caseOne-list__media{
					height: 580px;
				}
			}
		}
		.portfolio-caseOne-list__media{
			width: 575px;
			height: 335px;
		}
		.portfolio-caseOne-list__info{
			width: calc(100% - 575px);
			padding: 20px 0 20px 40px;
		}
		.portfolio-caseOne-list__name{
			font-size: 30px;
			line-height: 38px;
			padding: 0 0 25px;
		}
		.portfolio-caseOne-list__desc{
			strong{
				font-size: 16px;
				line-height: 22px;
			}
			p{
				line-height: 22px;
			}
		}
		.portfolio-caseOne-list__but{
			padding: 25px 0 0;
		}
	}

	.portfolio-case-gallery{
		.slick-prev{
			right: 45px !important;
		}
	}
}

@media (max-width: 1400px){
	.portfolio-page-typeTwo{
		.back-logo{
			&.back-t-r{
				@include transform(translate(133px,-120px));
			}
		}
	}
}

@media (max-width: 1100px){
	.portfolio-page-typeTwo{
		.portfolio-inline-back{
			&:before, &:after{
				display: none;
			}
		}
	}

	.portfolio-caseOne-list{
		.portfolio-caseOne-list__item{
			margin: 0 0 65px;
			&:last-child{
				margin: 0 0 30px;
			}
			&.active{
				.portfolio-caseOne-list__media{
					height: 425px;
				}
			}
		}
		.portfolio-caseOne-list__media{
			width: 405px;
			height: 240px;
		}
		.portfolio-caseOne-list__info{
			width: calc(100% - 405px);
			padding: 15px 0 15px 30px;
		}
		.portfolio-caseOne-list__name{
			font-size: 24px;
			line-height: 28px;
			padding: 0 0 15px;
		}
		.portfolio-caseOne-list__desc{
			strong{
				font-size: 14px;
				line-height: 18px;
			}
			p{
				line-height: 18px;
			}
		}
		.portfolio-caseOne-list__but{
			padding: 15px 0 0;
		}
	}
	.portfolio-case-gallery{
		.slick-prev{
			right: 40px !important;
		}
	}
}

@media (max-width: 768px){
	.portfolio-caseOne-list{
		.portfolio-caseOne-list__item{
			padding: 0 0 40px;
			margin: 0 0 40px;
			border-bottom: 1px solid $colorD9DDE8;
			&:last-child{
				padding: 0;
				margin: 0 0 30px;
				border: none;
			}
			&.active{
				.portfolio-caseOne-list__media{
					height: 400px;
				}
			}
		}
		.portfolio-caseOne-list__media{
			width: 100%;
			height: 400px;
		}
		.portfolio-caseOne-list__info{
			width: 100%;
			padding: 25px 0 0;
		}
		.portfolio-caseOne-list__name{
			font-size: 22px;
			line-height: 26px;
			padding: 0 0 15px;
		}
	}
}

@media (max-width: 640px){
	.portfolio-caseOne-list{
		.portfolio-caseOne-list__media{
			height: 350px;
		}
	}
}

@media (max-width: 480px){
	.portfolio-caseOne-list{
		.portfolio-caseOne-list__media{
			height: 280px;
		}
	}
}

@media (max-width: 400px){
	.portfolio-caseOne-list{
		.portfolio-caseOne-list__media{
			height: 230px;
		}
	}
}

@media (max-width: 360px){
	.portfolio-caseOne-list{
		.portfolio-caseOne-list__media{
			height: 210px;
		}
	}
}