.portfolio-view-typeOne{
	padding: 0;
}

.portfolio-view-header{
	background: $color161616;
	.portfolio-view-header__info{
		width: 374px;
		color: $colorWhite;
		font-size: 14px;
		line-height: 24px;
		padding: 40px 40px 40px 70px;
		strong{
			font-size: 18px;
			font-family: $fontBold;
			font-weight: bold;
			line-height: 23px;
		}
	}
	.portfolio-view-header__media{
		width: calc(100% - 374px);
	}
}

.portfolio-view-mainGallery{
	width: 100%;
	height: 100%;
	margin-bottom: 0 !important;
	.slick-list, .slick-track, .portfolio-view-mainGallery__item{
		height: 100%;
	}
	.portfolio-view-mainGallery__img{
		position: relative;
		overflow: hidden;
		height: 100%;
		min-height: 450px;
		picture{
			width: 100%;
			height: 100%;
		}
	}
	.slick-prev, .slick-next{
		top: auto;
		@include transform(translate(0, 0));
		bottom: 0;
		right: auto !important;
	}
	.slick-prev{
		left: 0 !important;
	}
	.slick-next{
		left: 50px !important;
	}
}

.portfolio-viewBox{
	position: relative;
	overflow: hidden;
	padding: 75px 0;
	background: $colorWhite;
	.content{
		position: relative;
		z-index: 1;
		// @include align-items(flex-start);
	}
	.portfolio-viewBox__info{
		color: $color101010;
		.box-style{
			.box-style__heading{
				color: $color101010;
			}
		}
	}
	.portfolio-viewBox__desc{
	    padding: 0;
	}
	.portfolio-viewBox__media{
		min-height: 440px;
	}
	.portfolio-viewBox__gallery{
		width: 100%;
	}
	.portfolio-viewBox__img{
		position: relative;
		z-index: 1;
		top: auto !important;
		right: auto !important;
		left: auto !important;
		width: 100% !important;
	}
	&.sideways-box{
		.portfolio-viewBox__info{
			padding: 40px 70px 30px 0;
		}
		&.sideways-box-l{
			.portfolio-viewBox__info{
				padding: 40px 0 30px 70px;
			}
			.portfolio-viewBox__gallery{
				width: 100%;
			}
		}
		.slick-prev, .slick-next{
			left: auto !important;
		}
		.slick-prev{
			right: 50px !important;
		}
		.slick-next{
			right: 0 !important;
		}
	}
	.sideways-box__but{
		.but{
			&:after{
				background: $color161616;
			}
			
		}
	}
}

.portfolio-viewBox1{
	.back-logo{
		&.back-b-l{
			@include transform(translate(-250px, -90px));
		}
	}
}

.portfolio-viewBox2{
	padding-top: 115px;
	background: $colorF5F5F5;
}

.portfolio-viewBox3{
	background: $colorF5F5F5;
}

.portfolio-viewBox4{
	padding-bottom: 115px;
	background: $colorF5F5F5;
	&.sideways-box{
		&.sideways-box-l{
			.portfolio-viewBox1__info{
				padding: 55px 0 30px 70px;
			}
		}
	}
}

.portfolio-viewInline{
	padding: 130px 0;	
	.portfolio-viewInline__info{
	}
	&.portfolio-viewInline5{

	}
}

.portfolio-viewInline-carousel{
	margin: 110px -15px 0 !important;
	.slick-list{
		overflow: visible;
	}
	.portfolio-viewInline-carousel__item{
		width: calc(100% - 30px);
		margin: 0 15px;
		&:hover, &:focus, &:active{
			.portfolio-viewInline-carousel__img{
				source, img{
					@include transform(scale(1.05));
					@include transition(.3s);
				}
			}
		}
	}
	.portfolio-viewInline-carousel__img{
		width: 100%;
		min-height: 392px;
		a{
			display: block;
		}
		a, picture{
			width: 100%;
			height: 100%;
		}
	}
	.slick-prev,
	.slick-next {
		&:hover, &:focus {
			svg{
	            path{
					stroke: $colorWhite;
				}
	        }
	    }
	}
}

@media (max-width: 1600px){
	.portfolio-view-header{
		.portfolio-view-header__info{
			padding: 40px 40px 40px 60px;
		}
	}
	.portfolio-view-mainGallery{
		.slick-next{
			left: 45px !important;
		}
	}

	.portfolio-viewBox{
		padding: 65px 0;
		.portfolio-viewBox__media{
			min-height: 380px;
		}
		&.sideways-box{
			.portfolio-viewBox__info{
				padding: 30px 60px 20px 0;
			}
			&.sideways-box-l{
				.portfolio-viewBox__info{
					padding: 30px 0 20px 60px;
				}
			}
			.slick-prev{
				right: 45px !important;
			}
		}
	}

	.portfolio-viewBox1{
		.back-logo{
			&.back-b-l{
				@include transform(translate(-205px, -90px));
			}
		}
	}

	.portfolio-viewBox2{
		padding-top: 90px;
	}

	.portfolio-viewBox4{
		padding-bottom: 90px;
		&.sideways-box{
			&.sideways-box-l{
				.portfolio-viewBox1__info{
					padding: 45px 0 25px 60px;
				}
			}
		}
	}

	.portfolio-viewInline{
		padding: 110px 0;	
	}

	.portfolio-viewInline-carousel{
		margin: 90px -15px 0 !important;
		.portfolio-viewInline-carousel__item{
			width: calc(100% - 30px);
			margin: 0 15px;
		}
		.portfolio-viewInline-carousel__img{
			min-height: 392px;
		}
	}
}

@media (max-width: 1100px){
	.portfolio-view-header{
		.portfolio-view-header__info{
			width: 330px;
			padding: 30px 30px 30px 50px;
		}
		.portfolio-view-header__media{
			width: calc(100% - 330px);
		}
	}
	.portfolio-view-mainGallery{
		.portfolio-view-mainGallery__img{
			min-height: 390px;
		}
		.slick-next{
			left: 40px !important;
		}
	}

	.portfolio-viewBox{
		padding: 55px 0;
		.portfolio-viewBox__media{
			min-height: 300px;
		}
		&.sideways-box{
			.portfolio-viewBox__info{
				padding: 10px 50px 10px 0;
			}
			&.sideways-box-l{
				.portfolio-viewBox__info{
					padding: 10px 0 10px 50px;
				}
			}
			.slick-prev{
				right: 40px !important;
			}
		}
	}

	.portfolio-viewBox1{
		.back-logo{
			&.back-b-l{
				@include transform(translate(-205px, -90px));
			}
		}
	}

	.portfolio-viewBox2{
		padding-top: 70px;
	}

	.portfolio-viewBox4{
		padding-bottom: 70px;
		&.sideways-box{
			&.sideways-box-l{
				.portfolio-viewBox1__info{
					padding: 45px 0 25px 60px;
				}
			}
		}
	}

	.portfolio-viewInline{
		padding: 90px 0;	
	}

	.portfolio-viewInline-carousel{
		margin: 70px -10px 0 !important;
		.portfolio-viewInline-carousel__item{
			width: calc(100% - 20px);
			margin: 0 10px;
		}
		.portfolio-viewInline-carousel__img{
			min-height: 240px;
		}
	}
}

@media (max-width: 860px){
	.portfolio-viewInline-carousel{
		.portfolio-viewInline-carousel__item{
			margin: 0 10px 20px;
		}
		.slick-prev,
		.slick-next {
			&:hover, &:focus {
				svg{
		            path{
						stroke: $color93754D;
					}
		        }
		    }
		}
	}
}

@media (max-width: 768px){
	.portfolio-view-header{
		.content{
			padding: 0;
		}
		.portfolio-view-header__info{
			width: 100%;
			padding: 40px 30px 40px;
			strong{
				font-size: 16px;
				line-height: 21px;
			}
		}
		.portfolio-view-header__media{
			width: 100%;
		}
	}
	.portfolio-view-mainGallery{
		.portfolio-view-mainGallery__img{
			min-height: 500px;
		}
	}
	.portfolio-viewBox{
		padding: 0;
		.portfolio-viewBox__media{
			width: 100% !important;
			margin: 0 !important;
			min-height: 500px;
		}
	}

	.portfolio-viewInline-carousel{
		.portfolio-viewInline-carousel__img{
			min-height: 200px;
		}
	}
}

@media (max-width: 640px){
	.portfolio-view-header{
		.portfolio-view-header__info{
			line-height: 22px;
			strong{
				font-size: 14px;
				line-height: 19px;
			}
		}
	}
	.portfolio-view-mainGallery{
		.portfolio-view-mainGallery__img{
			min-height: 400px;
		}
	}
	.portfolio-viewBox{
		.portfolio-viewBox__media{
			min-height: 400px;
		}
	}

	.portfolio-viewInline{
		padding: 70px 0;	
	}
}

@media (max-width: 540px){
	.portfolio-viewInline-carousel{
		margin: 50px -10px 0 !important;
		.portfolio-viewInline-carousel__item{
			width: 280px;
		}
		.portfolio-viewInline-carousel__img{
			min-height: 190px;
		}
		.slick-slide{
			@include flexbox();
			height: auto !important;
			opacity: 0.4;
			@include transition(.3s linear .2s);
			&.slick-active, &.slick-current{
				opacity: 1;
				@include transition(.3s linear .1s);
			}
		}
	}
}

@media (max-width: 480px){
	.portfolio-view-header{
		.portfolio-view-header__info{
			padding: 30px 20px 30px;
		}
	}
	.portfolio-view-mainGallery{
		.portfolio-view-mainGallery__img{
			min-height: 300px;
		}
	}
	.portfolio-viewBox{
		.portfolio-viewBox__media{
			min-height: 300px;
		}
	}

	.portfolio-viewInline{
		padding: 50px 0;	
	}
}

@media (max-width: 360px){
	.portfolio-viewInline-carousel{
		margin: 50px -6px 0 !important;
		.portfolio-viewInline-carousel__item{
			margin: 0 6px 20px;
		}
	}
}