.portfolio-caseOne-grid{
	display: flex;
	flex-wrap: wrap;
	&__item{
		width: calc(50% - 30px);
	}
}
@media screen and (max-width: 1100px) {
	.portfolio-caseOne-grid{
		&__item{
			width: calc(50% - 20px);
		}
	}
}
@media screen and (max-width: 767px) {
	.portfolio-case-section .portfolio-case-section__item.portfolio-case-section__item-grid{
		width: 100%;
	}
	.portfolio-caseOne-grid{
		width: calc(100% + 20px);
		margin: 0 -10px;
		padding: 0;
		&__item{
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}
}