.portfolio-header{
	position: relative;
	overflow: hidden;
	color: $colorWhite;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	background: $color161616;
	.portfolio-header__info{
		width: 515px;
		padding: 0 60px 0 0;
	}
	.portfolio-header__media{
		position: relative;
		width: calc(100% - 515px);
		min-height: 400px;
	}
	.portfolio-header__name{
		color: $colorWhite;
		font-size: 22px;
		font-family: $fontMedium;
		font-weight: 500;
		line-height: 40px;
		text-transform: uppercase;
		padding: 70px 0 0;
		strong{
			font-size: 34px;
			line-height: 50px;
			font-family: $fontBold;
			font-weight: 700;
		}
		svg{
			width: 24px;
			height: 24px;
			path{
				fill: $colorWhite;
			}
		}
	}
	.portfolio-header__desc{
		font-size: 24px;
		font-weight: normal;
		line-height: 24px;
		padding: 0 0 40px;
	}

	.back-logo{
		&.back-b-l{
			@include transform(translate(-195px, 185px));
		}
	}
}

.portfolio-main-gallery{
	position: absolute;
	left: 0;
	top: 0;
	width: 1050px;
	height: 100%;
	margin-bottom: 0 !important;
	.slick-list, .slick-track, .portfolio-main-gallery__item{
		height: 100%;
	}
	.portfolio-main-gallery__img{
		position: relative;
		overflow: hidden;
		height: 100%;
		min-height: 610px;
		picture{
			width: 100%;
			height: 100%;
		}
	}
	.slick-prev, .slick-next{
		top: auto;
		@include transform(translate(0, 0));
		bottom: 0;
		right: auto !important;
	}
	.slick-prev{
		left: 0 !important;
	}
	.slick-next{
		left: 50px !important;
	}
}

@media (max-width: 1600px){
	.portfolio-header{
		font-size: 14px;
		line-height: 22px;
		.portfolio-header__info{
			width: 515px;
			padding: 0 60px 0 0;
		}
		.portfolio-header__media{
			width: calc(100% - 515px);
			min-height: 400px;
		}
		.portfolio-header__name{
			font-size: 20px;
			line-height: 38px;
			padding: 60px 0 0;
			strong{
				font-size: 32px;
			}
			svg{
				width: 24px;
				height: 24px;
			}
		}
		.portfolio-header__desc{
			font-size: 22px;
			line-height: 22px;
			padding: 0 0 35px;
		}

		.back-logo{
			&.back-b-l{
				@include transform(translate(-160px,150px));
			}
		}
	}

	.portfolio-main-gallery{
		width: 790px;
		.portfolio-main-gallery__img{
			min-height: 510px;
		}
		.slick-next{
			left: 45px !important;
		}
	}
}

@media (max-width: 1400px){
	.portfolio-header{
		.back-logo{
			&.back-b-l{
				@include transform(translate(-130px,123px));
			}
		}
	}
}

@media (max-width: 1100px){
	.portfolio-header{
		.portfolio-header__info{
			width: 400px;
			padding: 0 40px 0 0;
		}
		.portfolio-header__media{
			width: calc(100% - 400px);
			min-height: 320px;
		}
		.portfolio-header__name{
			font-size: 16px;
			line-height: 32px;
			padding: 30px 0 0;
			strong{
				font-size: 28px;
			}
			svg{
				width: 20px;
				height: 20px;
			}
		}
		.portfolio-header__desc{
			font-size: 18px;
			line-height: 18px;
			padding: 0 0 30px;
		}
	}

	.portfolio-main-gallery{
		width: 670px;
		.portfolio-main-gallery__img{
			min-height: 460px;
		}
		.slick-next{
			left: 40px !important;
		}
	}
}

@media (max-width: 768px){
	.portfolio-header{
		.portfolio-header__info{
			width: 100%;
			padding: 0 0 70px;
		}
		.portfolio-header__media{
			display: none;
		}
		.portfolio-header__name{
			font-size: 14px;
			line-height: 26px;
			padding: 30px 0 0;
			strong{
				font-size: 26px;
			    line-height: 1.4;
			}
			svg{
				width: 20px;
				height: 20px;
			}
		}
		.portfolio-header__desc{
			font-size: 16px;
			line-height: 16px;
			padding: 0 0 25px;
		}
	}
}