.portfolio-caseOne-box{
	@extend .content;
	margin: 0 -15px;
	.portfolio-caseOne-box__item{
		margin: 0 15px 30px;
		&:hover, &:focus, &:active{
			.portfolio-caseOne-box__img{
				source, img{
					@include transform(scale(1.05));
					@include transition(.3s);
				}
			}
		}
	}
	.portfolio-caseOne-box__img{
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 400px;
		a{
			display: block;
		}
		a, picture{
			width: 100%;
			height: 100%;
		}
	}
	.portfolio-caseOne-box__info{
		padding: 20px 0 0;
	}
	.portfolio-caseOne-box__link{
		color: $color161616;
		font-size: 18px;
		font-family: $fontMedium;
		font-weight: 500;
		line-height: 23px;
		@include transition(.2s);
		&:hover, &:focus, &:active{
			color: $color93754D;
		}
	}
	&.portfolio-caseOne-carousel{
		margin-bottom: 0 !important;
		.portfolio-caseOne-box__item{
			margin-bottom: 0;
		}
		.slick-list{
			overflow: visible;
		}
		
	}
}

.portfolio-caseOne-arrows{
	.slick-prev,
	.slick-next {
	}
	.slick-next {
		&:hover, &:focus {
			svg{
	            path{
					stroke: $colorWhite;
				}
	        }
	    }
	}
}

@media (max-width: 1600px){
	.portfolio-caseOne-box{
		.portfolio-caseOne-box__img{
			height: 320px;
		}
		.portfolio-caseOne-box__info{
			padding: 20px 0 0;
		}
		.portfolio-caseOne-box__link{
			font-size: 16px;
			line-height: 21px;
		}
	}
}

@media (max-width: 1200px) AND (min-width: 1101px){
	.portfolio-caseOne-arrows{
		.slick-prev{
			left: -40px;
		}
		.slick-next {
			right: -40px;
		}
	}
}

@media (max-width: 1100px){
	.portfolio-caseOne-box{
		margin: 0 -10px;
		.portfolio-caseOne-box__item{
			margin: 0 10px 20px;
		}
		.portfolio-caseOne-box__img{
			height: 260px;
		}
		.portfolio-caseOne-box__info{
			padding: 15px 0 0;
		}
		.portfolio-caseOne-box__link{
			font-size: 16px;
			line-height: 21px;
		}
	}
}

@media (max-width: 860px){
	.portfolio-caseOne-box{
		&.portfolio-caseOne-carousel{
			.portfolio-caseOne-box__item{
				margin-bottom: 20px;
			}
		}
	}
	.portfolio-caseOne-arrows{
		.slick-prev{
			left: 0px;
		}
		.slick-next {
		    left: 40px;
		    &:hover, &:focus {
				svg{
		            path{
						stroke: $color93754D;
					}
		        }
		    }
		}
	}
}

@media (max-width: 768px){
	.portfolio-caseOne-box{
		margin: 0 -30px;
	}
}

@media (max-width: 540px){
	.portfolio-caseOne-box{
		margin: 0 -20px;
		.portfolio-caseOne-box__img{
			height: 200px;
		}
		&.portfolio-caseOne-carousel{
			.partners-box__item{
				width: 290px;
			}
			.slick-slide{
				height: auto !important;
				opacity: 0.4;
				@include transition(.3s linear .2s);
				&.slick-active, &.slick-current{
					opacity: 1;
					@include transition(.3s linear .1s);
				}
			}
		}
	}
}