.portfolio-nav{
	padding: 0 0 100px;
	.portfolio-nav__item{
		width: calc(100% / 5);
		height: 50px;
		background: $color161616;
		@include transition(.2s);
		&:hover, &:focus, &:active{
			background: $color93754D;
			.portfolio-nav__link{
				color: $colorWhite;
			}
		}
		&.active{
			background: $colorWhite;
			.portfolio-nav__link{
				color: $color161616;
			}
		}
	}
	.portfolio-nav__link{
		color: $colorWhite;
		font-size: 16px;
		font-family: $fontMedium;
		font-weight: 500;
		line-height: 20px;
		text-transform: uppercase;
		text-align: center;
		@include transition(.2s);
	}
}

@media (max-width: 1600px){
	.portfolio-nav{
		padding: 0 0 80px;
		.portfolio-nav__link{
			font-size: 14px;
			line-height: 18px;
		}
	}
}

@media (max-width: 1100px){
	.portfolio-nav{
		padding: 0 0 80px;
		.portfolio-nav__item{
			padding: 0 20px;
		}
		.portfolio-nav__link{
			font-size: 12px;
			line-height: 16px;
		}
	}
}

@media (max-width: 768px){
	.portfolio-nav{
		.portfolio-nav__item{
			display: none;
			width: calc(100% / 3);
		}
	}
}

@media (max-width: 480px){
	.portfolio-nav{
		.portfolio-nav__item{
			width: calc(100% / 2);
		}
	}
}