.portfolio-inline{
	position: relative;
	overflow: hidden;
	.portfolio-inline__item{
		position: relative;
		z-index: 1;
		padding: 30px 0 90px;
		&:last-child{
			padding-bottom: 10px;
		}
	}
	.portfolio-inline__header{
		padding: 0 0 40px;
	}
	.portfolio-inline-back{
		&:before{
			top: 450px;
			left: 0;
			width: 1325px;
			height: 857px;
		}

		&:after{
			bottom: 0;
			right: 0;
			width: 951px;
			height: 978px;
		}
	}
}

.portfolio-inline-header{
	.portfolio-inline-header__heading{
		width: calc(100% - 240px);
		color: $color161616;
		font-size: 14px;
		line-height: 18px;
		text-transform: uppercase;
		padding: 0 0 2px 15px;
		border-left: 4px solid $color777777;
		strong{
			font-size: 20px;
			line-height: 25px;
			font-weight: normal;
		}
		svg{
			max-width: 17px;
			max-height: 17px;
		}
	}
	.portfolio-inline-header__but{
		width: 240px;
	}
	.portfolio-inline-header__heading{
		
	}
	.portfolio-inline-header__desc{
		color: $color161616;
		font-size: 32px;
		font-family: $fontBold;
		font-weight: bold;
		line-height: 40px;
		text-transform: uppercase;
	}
}

.portfolio-case-section{
	position: relative;
	.portfolio-case-section__item{
		width: 1560px;
		overflow: hidden;
	}
	.portfolio-case-section__arrows{
	}
}

@media (max-width: 1900px){
	.portfolio-inline{
		.portfolio-inline-back{
			&:before{
			    left: calc(50% - 950px);
			}
			&:after{
				right: calc(50% - 950px);
			}
		}
	}
}

@media (max-width: 1600px){
	.portfolio-inline{
		.portfolio-inline__item{
			padding: 30px 0 80px;
			&:last-child{
				padding-bottom: 10px;
			}
		}
		.portfolio-inline__header{
			padding: 0 0 35px;
		}
		.portfolio-inline-back{
			&:before{
				top: 405px;
				left: calc(50% - 800px);
				width: 1100px;
				height: 715px;
			}

			&:after{
				right: calc(50% - 786px);
				width: 786px;
				height: 815px;
			}
		}
	}

	.portfolio-inline-header{
		.portfolio-inline-header__heading{
			width: calc(100% - 220px);
			font-size: 14px;
			line-height: 18px;
			padding: 0 0 2px 10px;
			border-width: 3px;
			strong{
				font-size: 18px;
				line-height: 23px;
			}
			svg{
				max-width: 17px;
				max-height: 17px;
			}
		}
		.portfolio-inline-header__but{
			width: 220px;
		}
		.portfolio-inline-header__desc{
			font-size: 30px;
			line-height: 38px;
		}
	}

	.portfolio-case-section{
		.portfolio-case-section__item{
			width: 1320px;
		}
	}
}

@media (max-width: 1100px){
	.portfolio-inline{
		.portfolio-inline__item{
			padding: 20px 0 70px;
			&:last-child{
				padding-bottom: 10px;
			}
		}
		.portfolio-inline__header{
			padding: 0 0 30px;
		}
		.portfolio-inline-back{
			&:before{
			    top: 360px;
    			left: calc(50% - 690px);
				width: 900px;
				height: 580px;
			}

			&:after{
				right: calc(50% - 685px);
				width: 686px;
				height: 580px;
			}
		}
	}

	.portfolio-inline-header{
		.portfolio-inline-header__heading{
			width: calc(100% - 200px);
			font-size: 14px;
			line-height: 18px;
			padding: 0 0 2px 10px;
			border-width: 2px;
			strong{
				font-size: 18px;
				line-height: 23px;
			}
			svg{
				max-width: 15px;
				max-height: 15px;
			}
		}
		.portfolio-inline-header__but{
			width: 200px;
		}
		.portfolio-inline-header__desc{
			font-size: 28px;
			line-height: 36px;
		}
	}

	.portfolio-case-section{
		.portfolio-case-section__item{
			width: 940px;
		}
	}
}

@media (max-width: 860px){
	.portfolio-inline{
		.portfolio-inline__item{
			position: relative;
			&:last-child{
				padding-bottom: 10px;
				.portfolio-inline-header__but{
					bottom: 10px;
				}
			}
		}
	}

	.portfolio-inline-header{
		.portfolio-inline-header__heading{
			width: 100%;
		}
		.portfolio-inline-header__but{
			position: absolute;
			z-index: 1;
			bottom: 70px;
			right: 0;
			width: 200px;
		}
	}
}

@media (max-width: 768px){
	.portfolio-inline{
		.portfolio-inline__item{
			padding: 10px 0 70px;
			&:last-child{
				padding-bottom: 10px;
			}
		}
		.portfolio-inline-back{
			&:before, &:after{
				display: none;
			}
		}
	}

	.portfolio-inline-header{
		.portfolio-inline-header__heading{
			strong{
				font-size: 16px;
				line-height: 21px;
			}
			svg{
				max-width: 14px;
				max-height: 14px;
			}
		}
		.portfolio-inline-header__desc{
			font-size: 26px;
			line-height: 34px;
		}
	}

	.portfolio-case-section{
		.portfolio-case-section__item{
			width: 800px;
		}
	}
}

@media (max-width: 640px){
	.portfolio-inline-header{
		.portfolio-inline-header__desc{
			font-size: 24px;
			line-height: 32px;
		}
	}
}

@media (max-width: 480px){
	.portfolio-inline-header{
		.portfolio-inline-header__desc{
			font-size: 22px;
			line-height: 30px;
		}
	}
}