.portfolio-box{
	margin: 0 -15px;
	.portfolio-box__item{
		position: relative;
		width: calc(100% / 3 - 30px);
		margin: 0 15px 100px;
		&:hover, &:focus, &:active{
			.portfolio-box__img{
				source, img{
					@include transform(scale(1.05));
					@include transition(.3s);
				}
			}
		}
	}
	.portfolio-box__name{
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		color: $colorWhite;
		font-size: 18px;
		font-family: $fontBold;
		font-weight: bold;
		line-height: 23px;
		text-transform: uppercase;
		background: rgba($color161616, .9);
		padding: 20px 30px 15px;
	}
	.portfolio-box__img{
		z-index: 0;
		position: relative;
		overflow: hidden;
		height: 380px;
		a{
			display: block;
		}
		a, picture{
			width: 100%;
			height: 100%;
		}
	}
}

@media (max-width: 1600px){
	.portfolio-box{
		.portfolio-box__item{
			margin: 0 15px 80px;
		}
		.portfolio-box__name{
			font-size: 16px;
			line-height: 21px;
			padding: 20px 25px 15px;
		}
		.portfolio-box__img{
			height: 315px;
		}
	}
}

@media (max-width: 1100px){
	.portfolio-box{
		margin: 0 -10px;
		.portfolio-box__item{
			width: calc(100% / 3 - 20px);
			margin: 0 10px 70px;
		}
		.portfolio-box__name{
			@include flexbox();
			@include align-items(center);
			min-height: 57px;
			font-size: 14px;
			line-height: 19px;
			padding: 10px 20px 9px;
		}
		.portfolio-box__img{
			height: 250px;
		}
	}
}

@media (max-width: 768px){
	.portfolio-box{
		margin: 0 -10px;
		.portfolio-box__item{
			width: calc(100% / 2 - 20px);
			margin: 0 10px 50px;
		}
		.portfolio-box__name{
			min-height: 57px;
			font-size: 14px;
			line-height: 19px;
			padding: 10px 20px 9px;
		}
		.portfolio-box__img{
			height: 300px;
		}
	}
}

@media (max-width: 640px){
	.portfolio-box{
		.portfolio-box__img{
			height: 280px;
		}
	}
}

@media (max-width: 480px){
	.portfolio-box{
		margin: 0;
		.portfolio-box__item{
			width: calc(100% / 1);
			margin: 0 0 40px;
		}
		.portfolio-box__img{
			height: auto;
			source, img, video{
			    position: relative;
			    width: 100%;
			    height: auto;
			    top: auto;
			    left: auto;
			    -o-object-fit: unset;
			    object-fit: unset;
			}
		}
	}
}