.content{
	width: 1200px;
	margin: 0 auto;
	@media (max-width: 1600px){
		width: 1000px;
	}
	@media (max-width: 1100px){
		width: 730px;
	}
	@media (max-width: 768px){
		width: 100%;
		padding: 0 20px;
	}
	@media (max-width: 360px){
		padding: 0 12px;
	}
}

h1{
	color: $color101010;
	font-size: 40px;
	font-family: $fontBold;
	font-weight: bold;
	line-height: 48px;
	text-transform: uppercase;
	margin: 0;
	padding: 0 0 40px;
}

h2{
	color: $color101010;
	font-size: 32px;
	font-family: $fontBold;
	font-weight: bold;
	line-height: 40px;
	text-transform: uppercase;
	margin: 0;
	padding: 0 0 40px;
}

.box-style{
	.box-style__header{}
	.box-style__heading{
		@extend h2;
		padding: 0 0 40px;
	}
	&.box-style-but{
		.box-style__heading{
			width: calc(100% - 201px);
			padding-right: 35px !important;
		}
		.box-style__but{
			width: 201px;
			.but{
				@include inline-flex();
				@include justify-content(flex-end);
				padding: 0 0 0 18px;
				margin: 0 0 0 auto;
				&:hover, &:focus, &:active{
					span{
						@include transform(translateX(7px));
					}
				}
			}
		}
	}
}

.box-style-img{
	position: relative;
	overflow: hidden;
	source, img, video{
	    position: absolute;
	    z-index: 0;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    -o-object-fit: cover;
	    object-fit: cover;
	    @include transition(transform .2s);
	}
}

.box-animation{
	@include transition(all .3s linear);
}

.txt-style{
	color: #6F6F6F;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
}

@media (max-width: 1600px){
	h1{
		font-size: 36px;
		line-height: 44px;
		padding: 0 0 35px;
	}

	h2{
		font-size: 28px;
		line-height: 36px;
		padding: 0 0 35px;
	}
	.box-style{
		.box-style__heading{
			padding: 0 0 35px;
		}
		&.box-style-but{
			.box-style__heading{
				width: calc(100% - 191px);
			}
			.box-style__but{
				width: 191px;
			}
		}
	}
}

@media (max-width: 1100px){
	h1{
		font-size: 30px;
		line-height: 38px;
		padding: 0 0 25px;
	}

	h2{
		font-size: 22px;
		line-height: 30px;
		padding: 0 0 25px;
	}
	.box-style{
		.box-style__heading{
			padding: 0 0 25px;
		}
		&.box-style-but{
			.box-style__heading{
				width: calc(100% - 171px);
			}
			.box-style__but{
				width: 171px;
				.but{
					top: -3px;
				}
			}
		}
	}
}

@media (max-width: 860px){
	.box-style{
		&.box-style-but{
			.box-style__heading{
				width: 100%;
			}
			.box-style__but{
				position: absolute;
				z-index: 11;
				right: 30px;
				bottom: 0;
				.but{
					top: auto;
				}
			}
		}
	}
}

@media (max-width: 768px){
	h1{
		font-size: 28px;
		line-height: 36px;
		padding: 0 0 20px;
	}

	h2{
		font-size: 20px;
		line-height: 28px;
		padding: 0 0 20px;
	}
	.box-style{
		.box-style__heading{
			padding: 0 0 20px;
		}
	}
}

@media (max-width: 640px){
	h1{
		font-size: 26px;
		line-height: 34px;
		padding: 0 0 20px;
	}
}

@media (max-width: 480px){
	h1{
		font-size: 24px;
		line-height: 30px;
		padding: 0 0 20px;
	}
}
