.bt{
	position: relative;
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	width: auto;
	height: 45px;
	color: $colorWhite;
	font-size: 16px;
	font-family: $fontMedium;
	text-transform: uppercase;
	line-height: 17px;
	font-weight: 500;
	padding: 0 20px;
	border: none;
	background: $color161616;
	@include box-shadow(none);
	@include border-radius(0);
	@include transition(all .3s);
	&.bt-white{
		color: $color161616;
		background: $colorWhite;
	}
	&.bt-animation{
		overflow: hidden;
	    @include transform(matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));
		&:before, 
		&:after {    
		    content: "";
			position: absolute;
			z-index: -1;
			width: 100%;
		    height: 100%;
		    left: -110%;
		    top: 0;
			opacity: 0.1;
			background: rgba($color161616, 0.6);    
		    @include transform(skewX(25deg));   
			@include transition(.5s ease);
			pointer-events: none;
		}
	}
	&.bt-animate-transform{
		@include transition(transform 0.2s ease-out);
	}
	&:hover, &:focus, &:active{
		background: $color93754D;
		&.bt-white{
			color: $color161616;
			background: $colorWhite;
		}
		&.bt-animation{
			&:before {
			    left: -10%;
			    @include transition(.3s ease);
			}
			&:hover:after {
			    left: -20%;
			}
		}
		&.bt-animate-3d{
			// @include box-shadow(0px 0px 10px -15px #000000 inset);
			@include transform(scaleX(0.95) translateY(2px));
		}
		&.bt-animate-transform{
			@include transform(translateY(-2px));
			@include box-shadow(0 3px 15px rgba(0, 0, 0, 0.15));
		}
	}
}
.but{
	position: relative;
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	width: auto;
	height: 45px;
	color: $color93754D;
	font-size: 16px;
	font-family: $fontMedium;
	text-transform: uppercase;
	line-height: 17px;
	font-weight: 500;
	padding: 0 18px;
	padding-left: 0;
	border: none;
	background: transparent;
	@include box-shadow(none);
	@include border-radius(0);
	@include transition(all .3s linear);
	span{
		@include transition(transform .3s linear);
	}
	&.but-30{
		@include border-radius(30px);
	}
	&.but-border{
		color: $color161616;
		background: transparent;
		border: 2px solid $color161616;
		&.but-svg{
			svg{
				path{
					fill: $color161616;
				}
			}
		}
	}
	
	&.but-white{
		color: $colorWhite;
		&.but-svg{
			svg{
				path{
					fill: $colorWhite;
				}
				&.icon-long-arrow{
					path{
						fill: transparent;
						stroke: $colorWhite;
					}	
				}
			}
		}
	}
	&.but-svg{
		-webkit-appearance: listbox;
		@include transform(perspective(1px) translateZ(0));
		@include transition-duration(0.1s);
		&.but-svg-right{
			// padding-right: 20px;
			span{
				padding: 0 10px 0 0;
			}	
		}
		&.but-svg-left{
			span{
				padding: 0 0 0 10px;
			}	
		}
		.icon-but-arrow{
			-o-object-fit: none;
	    	object-fit: none;
			object-position: 0 0;
			width: 9px;
			height: 8px;
		}
		svg{
			width: 23px;
			height: 9px;
			@include transform(translateZ(0));
			@include transition(all .2s ease-out .2s);
			path{
				fill: $color93754D;
			}
			&.icon-long-arrow{
				path{
					fill: transparent;
					stroke: $color93754D;
				}	
			}
		}
	}
	&.but-animation{
		overflow: hidden;
	    @include transform(matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));
		&:before, 
		&:after {    
		    content: "";
			position: absolute;
			z-index: -1;
			width: 100%;
		    height: 100%;
		    left: -110%;
		    top: 0;
			opacity: 0.1;
			background: rgba($color161616, 0.6);    
		    @include transform(skewX(25deg));   
			@include transition(.5s ease);
			pointer-events: none;
		}
	}
	&:after{
		content: '';
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0;
		background: $color161616;
		@include transition(.2s);
	}
	&:hover, &:focus, &:active{
		outline: 0;
		border: none;
		color: $colorWhite;
		background: transparent;
		// padding-left: 18px;
		@include box-shadow(none);
		span{
			@include transform(translateX(24px));
		}
		&.but-border{
			color: $colorWhite;
			background: $color161616;
			border-color: $color161616;
			
		}
		&.but-border{
			color: $color161616;
			background: transparent;
			border: 2px solid $color161616;
			svg{
				path{
					fill: $color161616;
				}
			}
		}
		&.but-white{
			color: $colorWhite;
			&.but-svg{
				svg{
					path{
						fill: $colorWhite;
					}
					&.icon-long-arrow{
						path{
							fill: transparent;
							stroke: $colorWhite;
						}	
					}
				}
			}
		}
		&.but-svg{
			&.but-svg-right{
				svg{
					@include transform(translateX(-3px));
				}
			}
			&.but-svg-left{
				svg{
					@include transform(translateX(3px));
				}
			}
			svg{
				opacity: 0;
				@include transform(translateX(-5px));
				@include transition(all .2s ease-out);
				&.icon-long-arrow{
					path{
						fill: transparent;
						stroke: $colorWhite;
					}	
				}
			}
		}
		&.but-animation{
			&:before {
			    left: -10%;
			    @include transition(.3s ease);
			}
			&:hover:after {
			    left: -20%;
			}
		}
		&:after{
			height: 100%;
		}
	}
}

@media (max-width: 1600px){
	.bt{
		height: 42px;
		font-size: 14px;
		line-height: 15px;
	}

	.but{
		height: 42px;
		font-size: 14px;
		line-height: 15px;
	}
}

@media (max-width: 1100px){
	.bt{
		height: 36px;
	}

	.but{
		height: 36px;
	}
}