footer{
	width: 100%;
	height: auto;
	background: #F2F5F8;
}
.footer{
	color: #757575;
	font-size: 13px;
	line-height: 14px;
	font-weight: normal;
	.footer__top{
		padding: 60px 0px 20px;
	}
	.footer__bot{
		border-top: 1px solid #D9DDE8;
		padding: 20px 0px 18px;
		&:after{
			content: '';
			clear: both;
			display: block;
		}
	}
	.footer__item{
		&.footer__item_logo{
			width: 340px;
			padding: 0 55px 0 0;
		}
		&.footer__item_menu{
			width: 645px;
			padding: 0 30px 0 0;
			ul{
				li{
					width: 50%;
				}
			}
		}
		&.footer__item_contact{
			width: 305px;
		}
	}
	.footer__heading{
		color: #000000;
		font-size: 20px;
		line-height: 24px;
		font-weight: bold;
		padding: 0 0 12px;
		margin: 0 0 16px;
		border-bottom: 1px solid #D9DDE8;
	}
	.footer__copy{
		color: #A19AA2;
		font-size: 14px;
		font-weight: normal;
		line-height: 16px;
		padding: 22px 0 0;
	}
	.footer__info{
		width: calc(100% - 260px);
		padding: 0 40px 0 0;
	}
	.footer__dc-logo{
		width: 260px;
		a{
			color: #757575;
			img{
				width: 120px;
			}
			span{
				display: block;
				width: calc(100% - 124px);
				padding: 0 0 0 8px;
			}
		}
	}
}

.footer-logo{
	width: 100%;
	height: auto;
	a{
	}
}

.menu-footer{
	@include flexbox();
	@include flex-wrap(wrap);
	margin: 0;
	padding: 0;
	list-style-type: none;
	li{
		width: 100%;
		line-height: 1.0;
		padding: 0 15px 15px 0;
		a{
			position: relative;
			color: #454545;
			font-size: 16px;
			font-weight: normal;
			line-height: 22px;
			&:after{
				content: '';
				position: absolute;
				bottom: -1px;
				left: 0;
				width: 0;
				height: 1px;
				opacity: 0;
				background: #0070CE;
				@include transition(all .3s linear);
			}
			&.footer-hidden{
				display: none;
			}
			&:hover{
				color: #0070CE;
				&:after{
					opacity: 1;
					width: 100%;
				}
			}
		}
	}
}

.footer-contact{
	color: #454545;
	font-size: 16px;
	font-weight: normal;
	line-height: 19px;
	.footer-contact__mode{
		color: #A3A3A3;
		font-size: 14px;
		line-height: 19px;
	}
	.footer-contact__location{
		padding: 7px 0 0;
		br{
			display: none;
		}
	}
	.footer-contact__email{
		padding: 9px 0 0;
		a{
			color: #454545;
		}
	}
	.footer-contact__phone{
		padding: 7px 0 0;
		div{
			&:first-child{
				a{
					color: #0070CE;
				}
			}
		}
		a{
			color: #454545;
			font-size: 20px;
			line-height: 24px;
			white-space: nowrap;
		}
	}
	.footer-contact__soc{
		.soc-box{
			@include flexbox();
			span{
				display: inline;
			}
		}
	}
}

.soc-box{
	@include inline-flex();
	@include align-items(center);
	padding: 10px 0 0;
	a{
		padding: 2px 10px 2px 0;
		@include transition(transform .3s ease);
		svg{
			width: 36px;
		}
		&:hover{
			@include transform(translateY(-2px));
		}
	}
}

@media (max-width: 1600px){
	.footer{
		font-size: 13px;
		line-height: 14px;
		.footer__top{
			padding: 60px 0px 20px;
		}
		.footer__bot{
			padding: 20px 0px 18px;
		}
		.footer__item{
			&.footer__item_logo{
				width: 320px;
				padding: 0 40px 0 0;
			}
			&.footer__item_menu{
				width: 605px;
				padding: 0 30px 0 0;
			}
			&.footer__item_contact{
				width: 245px;
			}
		}
		.footer__heading{
			font-size: 18px;
			line-height: 22px;
			padding: 0 0 12px;
			margin: 0 0 16px;
		}
		.footer__info{
			width: calc(100% - 260px);
			padding: 0 40px 0 0;
		}
		.footer__dc-logo{
			width: 260px;
			a{
				img{
					width: 120px;
				}
				span{
					width: calc(100% - 124px);
					padding: 0 0 0 8px;
				}
			}
		}
	}
	.menu-footer{
		li{
			padding: 0 15px 12px 0;
			a{
				font-size: 15px;
				line-height: 21px;
			}
		}
	}
}

@media (max-width: 1240px){
	.footer{
		font-size: 13px;
		line-height: 14px;
		.footer__top{
			padding: 50px 0px 20px;
		}
		.footer__bot{
			padding: 20px 0px 18px;
		}
		.footer__item{
			&.footer__item_logo{
				width: 275px;
				padding: 0 25px 0 0;
			}
			&.footer__item_menu{
				width: 475px;
				padding: 0 25px 0 0;
			}
			&.footer__item_contact{
				width: 210px;
			}
		}
		.footer__heading{
			font-size: 16px;
			line-height: 20px;
			padding: 0 0 12px;
			margin: 0 0 16px;
		}
		.footer__copy{
			font-size: 13px;
			line-height: 15px;
		}
		.footer__info{
			width: calc(100% - 120px);
			padding: 0 40px 0 0;
		}
		.footer__dc-logo{
			width: 120px;
			a{
				img{
					width: 120px;
				}
				span{
					display: none;
				}
			}
		}
	}

	.menu-footer{
		li{
			padding: 0 15px 10px 0;
			a{
				font-size: 14px;
				line-height: 20px;
			}
		}
	}

	.footer-contact{
		font-size: 14px;
		line-height: 18px;
		.footer-contact__mode{
			font-size: 14px;
			line-height: 19px;
		}
		.footer-contact__location{
			padding: 7px 0 0;
		}
		.footer-contact__email{
			padding: 9px 0 0;
		}
		.footer-contact__phone{
			padding: 7px 0 0;
			a{
				font-size: 18px;
				line-height: 22px;
			}
		}
	}

	.soc-box{
		padding: 10px 0 0;
		a{
			padding: 2px 10px 2px 0;
			svg{
				width: 32px;
			}
		}
	}
}

@media (max-width: 1000px){
	.footer{
		.footer__top{
			padding: 50px 0px 20px;
		}
		.footer__bot{
			padding: 20px 0px 18px;
		}
		.footer__item{
			&.footer__item_logo{
				width: 275px;
				padding: 0 25px 35px 0;
			}
			&.footer__item_menu{
				width: calc(100% - 210px);
				padding: 0 25px 0 0;
			}
			&.footer__item_contact{
				width: 210px;
			}
		}
		.footer__heading{
			font-size: 16px;
			line-height: 20px;
			padding: 0 0 12px;
			margin: 0 0 16px;
		}
		.footer__copy{
			font-size: 13px;
			line-height: 15px;
		}
		.footer__info{
			width: calc(100% - 120px);
			padding: 0 40px 0 0;
			br{
				display: none;
			}
		}
		.footer__dc-logo{
			width: 120px;
			a{
				img{
					width: 120px;
				}
				span{
					display: none;
				}
			}
		}
	}
}

@media (max-width: 768px){
	.footer{
		.footer__top{
			width: 290px;
			margin: 0 auto;
			text-align: center;
			padding: 50px 0px 20px;
		}
		.footer__bot{
			width: 290px;
			margin: 0 auto;
			text-align: center;
			padding: 20px 0px 18px;
		}
		.footer__item{
			&.footer__item_logo{
				padding: 0 0 25px;
				.footer-logo{
					width: 240px;
					margin: 0 auto;
				}
			}
			&.footer__item_menu{
				width: 100%;
				padding: 0 0 25px;
				ul{
					li{
						width: 100%;
					}
				}
			}
			&.footer__item_contact{
				width: 100%;
				.soc-box{
					@include justify-content(center);
				}
			}
		}
		.footer__heading{
			font-size: 16px;
			line-height: 20px;
			padding: 0 0 15px;
			margin: 0;
			border-bottom: none;
		}
		.footer__info{
			width: 100%;
			padding: 0 0 15px;
			br{
				display: none;
			}
		}
		.footer__dc-logo{
			width: 120px;
			margin: 0 auto;
			a{
				img{
					width: 120px;
				}
				span{
					display: none;
				}
			}
		}
	}

	.menu-footer{
		li{
			padding: 0 0 10px;
			a{
				line-height: 18px;
			}
		}
	}
}