footer{
	padding: 70px 0;
	background: $color161616;
}

.footer{
	.footer__item{
		&.footer__item_logo{
			width: 353px;
			padding: 0 60px 0 0;
		}
		&.footer__item_menu{
			width: 333px;
			padding: 0 60px 0 0;
		}
		&.footer__item_contact{
			width: calc(100% - 353px - 333px);
		}
	}
	.footer__dc-logo{
		a{
			color: $color7A7A7A;
			img, svg{
				width: 118px;
			}
			span{
				display: block;
				width: 100%;
				padding: 0 0 8px;
			}
			&:hover, &:focus, &:active{
				color: $color7A7A7A;
			}
		}
	}
}

.footer-heading{
	color: $colorWhite;
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	padding: 0 0 20px;
}

.footer-logo{
	width: 178px;
	color: $colorWhite;
	font-size: 12px;
	// font-family: $fontRegular;
	font-weight: normal;
	line-height: 15px;
	text-align: center;
	img{
		max-height: 94px;
	}
	span{
		display: block;
		padding: 12px 0;
	}
}

.footer-copy{
	color: $color7A7A7A;
	font-size: 16px;
	font-weight: normal;
	line-height: 19px;
	padding: 20px 0 0;
}

.menu-footer{
	@include flexbox();
	@include flex-wrap(wrap);
	margin: 0;
	padding: 0;
	list-style-type: none;
	li{
		width: 100%;
		line-height: 1.0;
		padding: 0 0 20px;
		a{
			position: relative;
			color: $colorWhite;
			font-size: 20px;
			font-weight: bold;
			line-height: 22px;
			&:after{
				content: '';
				position: absolute;
				bottom: -1px;
				left: 0;
				width: 0;
				height: 1px;
				opacity: 0;
				background: $colorWhite;
				@include transition(all .3s linear);
			}
			&.footer-hidden{
				display: none;
			}
			&:hover{
				color: $colorWhite;
				&:after{
					opacity: 1;
					width: 100%;
				}
			}
		}
	}
}

.footer-contact{
	color: $colorWhite;
	font-size: 16px;
	font-weight: normal;
	line-height: 19px;
	a{
		color: $colorWhite;
		&:hover, &:focus, &:active{
			color: $colorWhite;
		}
	}
	.footer-contact__item{
		&.footer-contact__item_0{
			width: 300px;
			padding: 0 30px 0 0;
		}
		&.footer-contact__item_1{
			width: calc(100% - 300px);
		}
	}
	.footer-contact__mode{
		padding: 0 0 5px;
	}
	.footer-contact__phone{
		font-family: $fontMedium;
		font-weight: 500;
	}
	.footer-contact__phone, .footer-contact__email{
		position: relative;
		padding: 0 0 23px;
		svg{
			position: absolute;
			top: 2px;
			left: -6px;
			max-width: 17px;
			max-height: 17px;
			@include transform(translateX(-100%));
			path{
				fill: $colorWhite;
			}
		}
	}
	.footer-contact__soc{
		padding: 0 0 23px;
		.soc-box{
			@include flexbox();
			span{
				display: block;
				width: 100%;
			}
		}
	}
	.footer-contact__but{
		padding: 0 0 20px;
		.bt{
			font-size: 18px;
			line-height: 23px;
		}
	}
}

.soc-box{
	@include inline-flex();
	@include flex-wrap(wrap);
	@include align-items(center);
	padding: 0;
	span{
		display: none;
	}
	a{
		padding: 10px 10px 0 0;
		@include transition(transform .3s ease);
		img{
			@include border-radius(6px);
		}
		svg{
			width: 36px;
		}
		&:hover{
			@include transform(translateY(-2px));
		}
	}
}

@media (max-width: 1600px){
	.footer{
		.footer__item{
			&.footer__item_logo{
				width: 295px;
				padding: 0 60px 0 0;
			}
			&.footer__item_menu{
				width: 275px;
				padding: 0 60px 0 0;
			}
			&.footer__item_contact{
				width: calc(100% - 295px - 275px);
			}
		}
		.footer__dc-logo{
			a{
				img, svg{
					width: 98px;
				}
				span{
					padding: 0 0 6px;
				}
			}
		}
	}

	.footer-heading{
		font-size: 18px;
		line-height: 20px;
		padding: 0 0 17px;
	}

	.footer-logo{
		width: 150px;
		font-size: 10px;
		line-height: 13px;
		img{
			max-height: 78px;
		}
		span{
			padding: 10px 0;
		}
	}

	.footer-copy{
		font-size: 14px;
		line-height: 17px;
	}

	.menu-footer{
		li{
			padding: 0 0 17px;
			a{
				font-size: 18px;
				line-height: 20px;
			}
		}
	}

	.footer-contact{
		font-size: 16px;
		line-height: 19px;
		.footer-contact__item{
			&.footer-contact__item_0{
				width: 270px;
				padding: 0 30px 0 0;
			}
			&.footer-contact__item_1{
				width: calc(100% - 270px);
			}
		}
		.footer-contact__phone, .footer-contact__email{
			padding: 0 0 20px;
			svg{
				top: 2px;
				left: -6px;
				max-width: 15px;
				max-height: 15px;
			}
		}
		.footer-contact__soc{
			padding: 0 0 20px;
		}
		.footer-contact__but{
			padding: 0 0 16px;
			.bt{
				font-size: 16px;
				line-height: 21px;
			}
		}
	}
}

@media (max-width: 1100px){
	footer{
		padding: 60px 0;
	}
	.footer{
		.footer__item{
			&.footer__item_logo{
				width: 205px;
				padding: 0 30px 0 0;
			}
			&.footer__item_menu{
				width: 180px;
				padding: 0 30px 0 0;
			}
			&.footer__item_contact{
				width: calc(100% - 205px - 180px);
			}
		}
		.footer__dc-logo{
			a{
				img, svg{
					width: 90px;
				}
				span{
					padding: 0 0 6px;
				}
			}
		}
	}

	.footer-heading{
		font-size: 16px;
		line-height: 18px;
		padding: 0 0 15px;
	}

	.footer-logo{
		width: 150px;
		font-size: 10px;
		line-height: 13px;
		img{
			max-height: 78px;
		}
		span{
			padding: 10px 0;
		}
	}

	.footer-copy{
		font-size: 14px;
		line-height: 17px;
	}

	.menu-footer{
		li{
			padding: 0 0 15px;
			a{
				font-size: 16px;
				line-height: 18px;
			}
		}
	}

	.footer-contact{
		font-size: 14px;
		line-height: 18px;
		.footer-contact__item{
			&.footer-contact__item_0{
				width: 210px;
				padding: 0 30px 0 0;
			}
			&.footer-contact__item_1{
				width: calc(100% - 210px);
			}
		}
		.footer-contact__phone, .footer-contact__email{
			padding: 0 0 15px;
			svg{
				top: 2px;
				left: -6px;
				max-width: 13px;
				max-height: 13px;
			}
		}
		.footer-contact__soc{
			padding: 0 0 20px;
		}
		.footer-contact__but{
			padding: 0 0 15px;
			.bt{
				font-size: 14px;
				line-height: 19px;
			}
		}
	}
}

@media (max-width: 768px){
	footer{
		padding: 60px 0;
	}
	.footer{
		.footer__item{
			&.footer__item_logo{
				width: 60%;
				padding: 0 30px 0 0;
			}
			&.footer__item_menu{
				width: 40%;
				padding: 0;
			}
			&.footer__item_contact{
				width: 100%;
				padding: 30px 0 0;
			}
		}
	}
	.footer-copy{
	    padding: 10px 0 0;
	}
	.footer-contact{
		.footer-contact__item{
			&.footer-contact__item_0{
				width: 60%;
				padding: 0 30px 0 0;
			}
			&.footer-contact__item_1{
				width: 40%;
			}
		}
	}	
}

@media (max-width: 480px){
	footer{
		padding: 50px 0;
	}
	.footer{
		.footer__item{
			text-align: center;
			&.footer__item_logo{
				width: 100%;
				padding: 0 0 30px;
			}
			&.footer__item_menu{
				width: 100%;
				padding: 0 0 30px;
			}
			&.footer__item_contact{
				width: 100%;
				padding: 0;
			}
		}
		.footer__dc-logo{
			padding: 15px 0 0;
			a{
				@include justify-content(center);
			}
		}
	}
	.footer-logo{
		margin: 0 auto;
	}

	.footer-contact{
		.footer-contact__item{
			&.footer-contact__item_0{
				width: 100%;
				padding: 0 0 20px;
			}
			&.footer-contact__item_1{
				width: 100%;
			}
		}
		.footer-contact__phone, .footer-contact__email{
			@include flexbox();
			@include justify-content(center);
			svg{
				position: relative;
				top: 2px;
				left: auto;
				max-width: 17px;
				max-height: 17px;
				@include transform(translateX(0));
			}
		}
		.footer-contact__soc{
			padding: 0 0 20px;
			.soc-box{
				@include flexbox();
				@include justify-content(center);
			}
		}
		.footer-contact__but{
			padding: 0 0 20px;
			@include justify-content(center);
		}
	}
}