.back-img{
	position: absolute;
	z-index: 0;
	@include background-size(contain !important);
	&.back-t-l{
		top: 0;
		left: 0;
	}
	&.back-t-r{
		top: 0;
		right: 0;
	}
	&.back-b-r{
		bottom: 0;
		right: 0;
	}
	&.back-b-l{
		bottom: 0;
		left: 0;
	}
	&.back-img-1{
		width: 205px;
		height: 258px;
		@media (min-width: 1301px){
			background: url('../images/back/back-img-1.webp') no-repeat;
		}
	}
}

.back-logo{
	width: 500px;
	height: 459px;
	&.back-logo-black{
		background: url('../images/back/company-back-black.webp') no-repeat;
	}
	&.back-logo-white{
		background: url('../images/back/company-back-white.webp') no-repeat;
	}
}

.sideways-box-back{
	position: absolute;
	z-index: 0;
	&.sideways-box-back-t-l{
		top: 0;
		left: 0;
	}
	&.sideways-box-back-t-r, &.sideways-box-back-1{
		top: 0;
		right: 0;
	}
	&.sideways-box-back-b-r{
		bottom: 0;
		right: 0;
	}
	&.sideways-box-back-b-l, &.sideways-box-back-0{
		bottom: 0;
		left: 0;
	}
}

.no-webp{
	.back-img{
		&.back-img-1{
			@media (min-width: 1301px){
				background: url('../images/back/back-img-1.jpg') no-repeat;
			}
		}
	}

	.back-logo{
		&.back-logo-black{
			background: url('../images/back/company-back-black.png') no-repeat;
		}
		&.back-logo-white{
			background: url('../images/back/company-back-white.png') no-repeat;
		}
	}
}

@media (max-width: 1600px){
	.back-img{
		&.back-img-1{
			width: 170px;
			height: 215px;
		}
	}
	.back-logo{
		width: 416px;
		height: 382px;
	}
}

@media (max-width: 1400px){
	.back-img{
		&.back-img-1{
			width: 140px;
			height: 177px;
		}
	}
	.back-logo{
		width: 345px;
		height: 317px;
	}
}

/* .icon{
	display: inline-block;
	vertical-align: top;
	@include background-size(contain !important);
	&.icon-phone{
		width: 13px;
		height: 13px;
		background: url('../images/icon/icon-phone.png') center no-repeat;
	}
	&.icon-account{
		width: 20px;
		height: 20px;
		background: url('../images/icon/icon-account.png') center no-repeat;
	}
}

@media (min-width: 1001px) AND (max-width: 1240px){
	.icon{
		&.icon-account{
			width: 14px;
			height: 14px;
		}
	}
}

@media (max-width: 1000px){
	.icon{
		&.icon-account{
			width: 18px;
			height: 18px;
		}
	}
} */