.modal-my{
	.modal-dialog {
	    width: 385px;
	    margin: auto;
	    padding: 30px 0;
	}
	.modal-header{
		border: none;
		padding: 40px 40px 0px;
		&.box-style {
			.box-style__header{
				position: static;
				width: 100%;
				color: $colorBlack;
				font-size: 16px;
				line-height: 1.2;
				padding: 0 0 20px;
			}
			.box-style__heading{
				font-size: 26px;
				line-height: 1.0;
				padding: 10px 0;
			}
			.box-style__desc{
				width: 100%;
				padding: 5px 0 0;
			}
		}
		
		.close {
			color: $colorBlack;
			&:hover, &:focus, &:active{
				outline: 0;
			}
		}
	}
	.modal-content{
		background: $colorWhite;
	}
	.modal-body{
		padding: 10px 40px 40px;
		.but{
			width: 100%;
		}
	}
	.modal-success-message{
		color: $color161616;
	    font-size: 17px;
	    font-weight: 700; 
		padding: 20px 0px 30px;
		// text-align: center;
	}
	.message-success{
		color: #207901;
	   	font-size: 17px;
	    font-weight: 700; 
		padding: 20px 0px 30px;
	}
	&.modal-my-sm{
		.modal-dialog {
		    width: 860px;
		}
		.modal-body{
			padding: 0 40px 40px;
		}
	}
	&.modal-my-fullscreen{
		.modal-close{
			position: fixed;
			top: 20px;
			right: 37px;
			width: 35px;
			height: 35px;
			div {
				height: 2px;
				background: rgba($colorWhite, 0.7);
				&:before {
					height: 2px;
					background: rgba($colorWhite, 0.7);
				}
			}
			&:hover{
				div{
					background: rgba($colorWhite, 1);
					&:before {
						background: rgba($colorWhite, 1);
					}
				}
			}
		}
	    .modal-header{
	    	padding: 0;
			&.box-style {
				.box-style__header{
					color: $colorWhite;
				}
				.box-style__heading{
					color: $colorWhite;
				}
			}
			.close {
				color: $colorWhite;
				&:hover, &:focus, &:active{
					outline: 0;
				}
			}
		}
		.modal-dialog {
			position: fixed;
			width: 100%;
			height: 100%;
			background: $color161616;
			overflow: hidden;
			overflow-y: auto;
			padding: 0;
		}
		.modal-content{
			width: 385px;
		    margin: auto;
		    padding: 30px 0;
			background: transparent;
			border: none;
			@include box-shadow(none);
		}
		.modal-body{
			padding: 0;
		}
		&.in{
		    display: block;
			.modal-dialog {
				display: -webkit-flex !important;
			     display: -webkit-box !important;
			     display: -ms-flexbox !important;
			        display: -moz-box !important;
			            display: flex !important;
			    @include align-items(center);
		        @include justify-content(center);
			}
		}
	}
	&.in{
	    display: -webkit-flex !important;
	     display: -webkit-box !important;
	     display: -ms-flexbox !important;
	        display: -moz-box !important;
	            display: flex !important;
	    @include align-items(center);
        @include justify-content(center);
	  }
}

.modal-close{
 	position: absolute;
 	top: 20px;
 	right: 20px;
 	width: 20px;
	height: 20px;
	cursor: pointer;
	opacity: 1;
    z-index: 1051;
    -webkit-appearance: listbox;
	div {
		position: relative;
		width: 100%;
		height: 1px;
		background: rgba(17, 17, 17, 0.7);
		@include transition(all .4s ease);
		@include transform(rotate(135deg));
		top: 10px;
		&:before {
			content: '';
			position: absolute;
			z-index: 1;
			left: 0;
			width: 100%;
			height: 1px;
			background: rgba(17, 17, 17, 0.7);
			@include transition(all .4s ease);
			top: 0;
			@include transform(rotate(90deg));
		}
	}
	&:hover{
		div{
			background: rgba(17, 17, 17, 1);
			@include transform(rotate(225deg));
			&:before {
				background: rgba(17, 17, 17, 1);
			}
		}
	}
}

/*.modal-backdrop{
	&.in{
		opacity: 0.3 !important;		
	}
}*/

@media (max-width: 1200px){
	.modal-my{
		.modal-header{
			.box-style__header{
				.box-style__heading{
					font-size: 24px;
				}
			}
		}
	}
}

@media (max-width: 1000px){
	.modal-my{
		.modal-header{
			.box-style__header{
				.box-style__heading{
					font-size: 22px;
				}
			}
		}
		&.modal-my-sm{
			.modal-dialog {
			    width: 720px;
			}
			.modal-body{
				padding: 0 30px 30px;
			}
		}
	}
}

@media (max-width: 768px){
	.modal-my{
		&.modal-my-sm{
			.modal-dialog {
		        width: auto;
   				margin: 10px;
			}
		}
	}
}

@media (max-width: 640px){
	.modal-my{
		.modal-header{
			.box-style__header{
				text-align: left;
			}
		}
		.modal-success-message{
			font-size: 14px;
		}
	}
}

@media (max-width: 480px){
	.modal-my{
		.modal-header{
			&.box-style {
				.box-style__header{
					font-size: 15px;
					line-height: 1.2;
					padding: 0 0 15px;
				}
			}
			.modal-close{
			 	top: 12px;
			 	right: 12px;
			 	width: 21px;
				height: 21px;
			}
		}
	}
}

@media (max-width: 400px){
	.modal-my{
		.modal-dialog {
		    width: 300px;
		}
		.modal-header{
			padding: 35px 20px 0px;
		}
		.modal-body{
			padding: 10px 20px 30px;
		}
		.form{
			.form-captcha{
				width: 258px;
				height: 64px;
				margin: 0 0 20px;
				.g-recaptcha{
					@include transform(scale(0.85));
				}
			}
		}
	}
}