.company-boxOne{
	position: relative;
	overflow: hidden;
	background: $colorWhite;
	padding: 20px 0 0;
	.content{
		position: relative;
		z-index: 1;
		@include align-items(flex-start);
	}
	.company-boxOne__info{
		color: $color101010;
		line-height: 24px;
		.box-style{
			.box-style__heading{
				color: $color101010;
			}
		}
	}
	.company-boxOne__media, .company-boxOne__gallery{
		min-height: 810px;
	}
	&.sideways-box{
		&.sideways-box-l{
			.company-boxOne__info{
				padding: 50px 0 30px 135px;
			}
		}
	}
}

@media (max-width: 1900px){
	.company-boxOne{
		.sideways-box-back {
			&.sideways-box-back-t-r{
				right: calc(50% - 950px);
			}
		}
	}
}

@media (max-width: 1600px){
	.company-boxOne{
		.company-boxOne__info{
			line-height: 22px;
		}
		.company-boxOne__media, .company-boxOne__gallery{
			min-height: 700px;
		}
		&.sideways-box{
			&.sideways-box-l{
				.company-boxOne__info{
					padding: 40px 0 20px 105px;
				}
			}
		}
		.sideways-box-back {
			&.sideways-box-back-t-r{
				right: calc(50% - 700px);
			}
		}
	}
}

@media (max-width: 1100px){
	.company-boxOne{
		.company-boxOne__info{
			line-height: 20px;
		}
		.company-boxOne__media, .company-boxOne__gallery{
			min-height: 700px;
		}
		&.sideways-box{
			&.sideways-box-l{
				.company-boxOne__info{
					padding: 35px 0 20px 50px;
				}
			}
		}
		.sideways-box-back {
			display: none;
		}
	}
}

@media (max-width: 768px){
	.company-boxOne{
		.company-boxOne__media, .company-boxOne__gallery{
			min-height: 500px;
		}
		&.sideways-box{
			&.sideways-box-l{
				.company-boxOne__info{
					padding: 0 0 50px !important;
				}
			}
		}
	}
}

@media (max-width: 640px){
	.company-boxOne{
		.company-boxOne__media, .company-boxOne__gallery{
			min-height: 400px;
		}
	}
}

@media (max-width: 480px){
	.company-boxOne{
		.company-boxOne__media, .company-boxOne__gallery{
			min-height: 300px;
		}
	}
}