.company-boxThree{
	position: relative;
	overflow: hidden;
	background: $colorF5F5F5;
	.content{
		position: relative;
		z-index: 1;
		// @include align-items(flex-start);
	}
	.company-boxThree__info{
		color: $color101010;
		.box-style{
			.box-style__heading{
				color: $color101010;
			}
		}
	}
	.company-boxThree__desc{
	    padding: 0;
	}
	.company-boxThree__media, .company-boxThree__gallery{
		min-height: 650px;
	}
	&.sideways-box{
		.company-boxThree__info{
			padding: 50px 90px 30px 0;
		}
	}
	.sideways-box__but{
		.but{
			&:after{
				background: $color161616;
			}
			
		}
	}
	.back-logo{
		&.back-b-l{
			@include transform(translate(-250px, -100px));
		}
	}
}

@media (max-width: 1600px){
	.company-boxThree{
		.company-boxThree__media, .company-boxThree__gallery{
			min-height: 510px;
		}
		&.sideways-box{
			.company-boxThree__info{
				padding: 50px 90px 30px 0;
			}
		}
		.back-logo{
			&.back-b-l{
				@include transform(translate(-210px, -100px));
			}
		}
	}
}

@media (max-width: 1400px){
	.company-boxThree{
		.back-logo{
			&.back-b-l{
				@include transform(translate(-170px, -100px));
			}
		}
	}
}

@media (max-width: 1100px){
	.company-boxThree{
		.company-boxThree__media, .company-boxThree__gallery{
			min-height: 400px;
		}
		&.sideways-box{
			.company-boxThree__info{
				padding: 50px 40px 30px 0;
			}
		}
		.back-logo{
			&.back-b-l{
				@include transform(translate(-170px, -100px));
			}
		}
	}
}


@media (max-width: 768px){
	.company-boxThree{
		.company-boxThree__media, .company-boxThree__gallery{
			min-height: 500px;
		}
	}
}

@media (max-width: 640px){
	.company-boxThree{
		.company-boxThree__media, .company-boxThree__gallery{
			min-height: 400px;
		}
	}
}

@media (max-width: 480px){
	.company-boxThree{
		.company-boxThree__media, .company-boxThree__gallery{
			min-height: 300px;
		}
	}
}