.company-boxTwo{
	position: relative;
	overflow: hidden;
	.content{
	}
	.company-boxTwo__media{
		position: relative;
		min-height: 700px;
		background: $colorWhite;
		&:after{
			content: '';
			position: absolute;
			z-index: 0;
			top: 0;
			right: 0;
			width: 300%;
			height: 100%;
			background: $colorWhite;
		}
	}
	.company-boxTwo__img{
		position: relative;
		z-index: 1;
		top: auto !important;
		right: auto !important;
		left: auto !important;
		width: 100% !important;
		padding: 0 170px 0 0;
	}
	.back-logo{
		&.back-b-r{
			@include transform(translate(250px, -100px));
		}
	}
	&:after{
		content: '';
		position: absolute;
		z-index: 0;
		width: 433px;
		height: 444px;
		left: 0px;
		top: 0;
		background: $colorF5F5F5;
	}
}

@media (max-width: 1600px){
	.company-boxTwo{
		.company-boxTwo__media{
			min-height: 600px;
		}
		.company-boxTwo__img{
			padding: 0 150px 0 0;
		}
		.back-logo{
			&.back-b-r{
				@include transform(translate(210px, -100px));
			}
		}
		&:after{
			left: calc(50% - 860px);
		}
	}
}

@media (max-width: 1600px){
	.company-boxTwo{
		.company-boxTwo__media{
			min-height: 570px;
		}
		.company-boxTwo__img{
			padding: 0 150px 0 0;
		}
		.back-logo{
			&.back-b-r{
				@include transform(translate(210px, -100px));
			}
		}
		&:after{
			left: calc(50% - 860px);
		}
	}
}

@media (max-width: 1400px){
	.company-boxTwo{
		.back-logo{
			&.back-b-r{
				@include transform(translate(170px, -100px));
			}
		}
	}
}

@media (max-width: 1100px){
	.company-boxTwo{
		.company-boxTwo__media{
			min-height: 490px;
		}
		.company-boxTwo__img{
			padding: 0 65px 0 0;
		}
		.back-logo{
			&.back-b-r{
				@include transform(translate(170px, -100px));
			}
		}
		&:after{
			left: calc(50% - 745px);
		    height: 300px;
		}
	}
}

@media (max-width: 768px){
	.company-boxTwo{
		.company-boxTwo__media{
			display: none !important;
		}
		&.sideways-box{
			&.sideways-box-l{
				.company-boxTwo__info{
					padding: 75px 0 !important;
				}
			}
		}
		&:after{
			display: none;
		}
	}
}