.company-boxFour{
	position: relative;
	overflow: hidden;
	background: $colorWhite;
	padding: 130px 0;
	.content{
		position: relative;
		z-index: 1;
		// @include align-items(flex-start);
	}
	.company-boxFour__info{
		color: $color101010;
		.box-style{
			.box-style__heading{
				color: $color101010;
			}
		}
	}
	.company-boxFour__media{
		min-height: 700px;
	}
	.company-boxFour__img{
		position: relative;
		z-index: 1;
		top: auto !important;
		right: auto !important;
		left: auto !important;
		width: 100% !important;
	}
	&.sideways-box{
		.company-boxFour__info{
			padding: 50px 90px 30px 0;
		}
	}
	.sideways-box__but{
		.but{
			&:after{
				background: $color161616;
			}
		}
	}
	.sideways-box-back-0{
		bottom: 130px;
	}
	.sideways-box-back-1{
		top: 130px;
	}
}

@media (max-width: 1900px){
	.company-boxFour{
		.sideways-box-back{
			&.sideways-box-back-0{
				left: calc(50% - 950px);
			}
			&.sideways-box-back-1{
				right: calc(50% - 950px);
			}
		}
	}
}

@media (max-width: 1600px){
	.company-boxFour{
		padding: 115px 0;
		.company-boxFour__media{
			min-height: 586px;
		}
		.sideways-box-back{
			&.sideways-box-back-0{
				left: calc(50% - 700px);
			}
			&.sideways-box-back-1{
				right: calc(50% - 700px);
			}
		}
	}
}

@media (max-width: 1100px){
	.company-boxFour{
		padding: 75px 0;
		.company-boxFour__media{
			min-height: 440px;
		}
		&.sideways-box{
			.company-boxFour__info{
				padding: 40px 40px 30px 0;
			}
		}
	}
}

@media (max-width: 768px){
	.company-boxFour{
		padding: 0;
		.company-boxFour__media{
			min-height: 500px;
		}
	}
}

@media (max-width: 640px){
	.company-boxFour{
		.company-boxFour__media{
			min-height: 400px;
		}
	}
}

@media (max-width: 480px){
	.company-boxFour{
		.company-boxFour__media{
			min-height: 300px;
		}
	}
}