header{
    position: relative;
    z-index: 11;
	background: $colorWhite;
	&.header-fix{
		.header{
			margin-bottom: 60px;
			@media (max-width: 1600px){
    			margin-bottom: 50px;
			}
			@media (max-width: 1100px){
    			margin-bottom: 40px;
			}
		}
		.header-bottom{
			position: fixed;
			top: 0;
			left: 0;
			opacity: .9;
			height: 50px;
		}
		.menu{
			ul{
				li{
					a{
						font-size: 20px;
						line-height: 23px;
					}
				}
			}
		}
		@media (max-width: 1600px){
			/* Меню */
			.menu{
				ul{
					li{
						a{
							font-size: 18px;
							line-height: 22px;
						}
					}
				}
			}
		}

		@media (max-width: 1100px){
			/* Меню */
			.menu{
				ul{
					li{
						a{
							font-size: 14px;
						}
					}
				}
			}
		}

		@media (max-width: 768px){
			.menu{
				display: none;
			}
		}

	}
}

.header{
	height: 226px;
	.content{
		height: 100%;
	}
	.header__logo{
		height: 100%;
		a{
			height: 100%;
		}
		img	{
			max-height: 158px;
		}
		span{
			color: $color161616;
			font-size: 19px;
			font-family: $fontRegular;
			font-weight: normal;
			line-height: 20px;
			padding: 10px 0 0;
		}
	}
}

.header-bottom{
	width: 100%;
	height: 60px;
	background: $color161616;
	.content{
		height: 100%;
	}
	.header-bottom__menu{
		width: calc(100% - 277px);
		height: 100%;
	}
	.header-bottom__contact{
		width: 277px;
		height: 100%;
	}
}

.header-contact{
	text-align: right;
	.header-contact__phone{
		color: $colorWhite;
		font-size: 23px;
		font-family: $fontBold;
		font-weight: bold;
		line-height: 26px;
		a{
			color: $colorWhite;
			svg{
				display: none;
			}
		}
	}
}

@media (max-width: 1600px){
	.header{
		height: 190px;
		.header__logo{
			img	{
				max-height: 130px;
			}
			span{
				font-size: 17px;
				line-height: 20px;
				padding: 10px 0 0;
			}
		}
	}

	.header-bottom{
		height: 50px;
		.header-bottom__menu{
			width: calc(100% - 200px);
		}
		.header-bottom__contact{
			width: 200px;
		}
	}

	.header-contact{
		.header-contact__phone{
			font-size: 19px;
			line-height: 24px;
		}
	}
}

@media (max-width: 1100px){
	.header{
		height: 135px;
		.header__logo{
			img	{
				max-height: 93px;
			}
			span{
				font-size: 14px;
				line-height: 20px;
				padding: 10px 0 0;
			}
		}
	}

	.header-bottom{
		height: 40px;
		.header-bottom__menu{
			width: calc(100% - 170px);
		}
		.header-bottom__contact{
			width: 170px;
		}
	}

	.header-contact{
		.header-contact__phone{
			font-size: 14px;
			line-height: 19px;
		}
	}
}

@media (max-width: 768px){
	.header-bottom{
		.content{
			@include justify-content(center);
		}
		.header-bottom__menu{
			width: auto;
			padding: 0 30px 0 0;
		}
		.header-bottom__contact{
			width: auto;
		}
	}
}

@media (max-width: 480px){
	.header{
		height: 135px;
		.header__logo{
			img	{
				max-height: 90px;
			}
			span{
				font-size: 13px;
				line-height: 18px;
				padding: 8px 0 0;
			}
		}
	}
}

@media (max-width: 360px){
	.header{
		height: 125px;
		.header__logo{
			img	{
				max-height: 86px;
			}
			span{
				font-size: 12px;
				line-height: 18px;
				padding: 8px 0 0;
			}
		}
	}

}