/* Меню */
.menu{
	width: 100%;
	height: 100%;
	ul{
		@include flexbox();
		@include justify-content(space-between);
		@include align-items(center);
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		list-style-type: none;
		li{
			position: relative;
			padding: 0px 30px 0 0;
			@include transition(all .3s linear);
			a{
				position: relative;
				color: $colorWhite;
				font-size: 23px;
				font-family: $fontBold;
				font-weight: bold;
				line-height: 26px;
				text-transform: uppercase;
				@include transition(all .3s linear);
				&:after{
					content: '';
					position: absolute;
					bottom: -1px;
					left: 0;
					width: 0;
					height: 1px;
					opacity: 0;
					background: $colorWhite;
					@include transition(all .3s linear);
				}
			}
			&.active, &:hover{
				a{
					color: $colorWhite;
					&:after{
						opacity: 1;
						width: 100%;
					}
				}
			}
		}
	}
}

@media (max-width: 1600px){
	/* Меню */
	.menu{
		ul{
			li{
				padding: 0px 25px 0 0;
				a{
					font-size: 19px;
					line-height: 24px;
				}
			}
		}
	}
}

@media (max-width: 1100px){
	/* Меню */
	.menu{
		ul{
			li{
				padding: 0px 20px 0 0;
				a{
					font-size: 14px;
				}
			}
		}
	}
}

@media (max-width: 768px){
	.menu{
		display: none;
	}
}
