.menu-fix-icon, .menu-fix{
	display: none;
}

@media (max-width: 768px){
	/* Меню */
	html.htmlmenu{
		overflow-y: scroll !important;
	}
	body.bodymenu{
		overflow: hidden!important;
	}
	.menu-fix-icon{
		@include flexbox();
		height: 100%;
		.icon-bars{
			width: 22px;
			.icon-bars__item{
				width: 100%;
				height: 2px;
				background: $colorWhite;
				margin: 0 0 5px;
				@include border-radius(8px);
				@include transition(.3s);
				&:last-child{
					margin: 0;
				}
			}
		}
		span{
			position: relative;
			top: 1px;
			color: $colorWhite;
			font-size: 16px;
			font-family: $fontBold;
			font-weight: bold;
			line-height: 20px;
			text-transform: uppercase;
			letter-spacing: 0.6px;
			padding: 0 0 0 6px;
		}
		&:hover{
			cursor: pointer;
			.icon-bars{
				.icon-bars__item{
					background: $colorWhite;
					@include transform(rotate(-3deg));
					&:first-child{
						@include transform(rotate(3deg) translateY(1px));
					}
					&:last-child{
						@include transform(rotate(3deg) translateY(-1px));
					}
				}
			}
		}
	}
    .menu-fix{
    	display: block;
		.menu-fix-icon-close{
			z-index: -100;
			right: 10px;
			opacity: 0;
			@include transition(all .3s linear .6s);
			&.active{
				display: block;
			    position: fixed;
			    top: 12px;
			    right: 10px;
			    width: 30px;
				height: 30px;
				cursor: pointer;
				opacity: 1;
			    z-index: 1051;
				div {
					position: relative;
					width: 100%;
					height: 2px;
					background: $color161616;
					@include transition(all .4s ease);
					@include transform(rotate(135deg));
					top: 14px;
					&:before {
						content: '';
						position: absolute;
						z-index: 1;
						left: 0;
						width: 100%;
						height: 2px;
						background: rgba($color161616, 0.7);
						@include transition(all .4s ease);
						top: 0;
	        			@include transform(rotate(90deg));
					}
				}
				&:hover{
					div{
						background: rgba($color161616, 1);
						@include transform(rotate(225deg));
						&:before {
							background: rgba($color161616, 1);
						}
					}
				}
			}
		}
		.menu-fix__header{
        	position: fixed;
        	z-index: 1051;
        	top: 10px;
        	left: 0;
        	color: $color161616;
			font-size: 20px;
			font-family: $fontBold;
			line-height: 1.2;
			font-weight: 700;
        }
		.menu-fix__box{
			position: fixed;
			z-index: 1050;
		    top: 0;
	    	left: -100%;
	    	width: 100%;
	    	height: 100%;
		    overflow: hidden;
		    background: rgba($colorWhite, 1);
		    // opacity: 0;
			pointer-events: none;
			@include flexbox();
			@include align-items(center);
			@include justify-content(center);
		    @include transition(all 900ms);
		    &.active{
		    	left: 0;
		    	// opacity: 1;
				pointer-events: all;
				@include transition(all 900ms);
		    	.menu-fix__box2{
					opacity: 1;
					pointer-events: all;
					z-index: 1051;
					// @include transform(scale(1));
					@include transition(all .3s ease .3s);
		    	}
		    	.menu-fix__bottom{
					opacity: 1;
					pointer-events: all;
					z-index: 1051;
					@include transition(all .3s ease .6s);
		    	}
		    }
			.menu-fix__box2{
		    	width: 100%;
				margin: auto;
				max-height: calc(100% - 100px);
				padding: 0;
				opacity: 0;
				overflow: hidden;
				overflow-y: auto;
				pointer-events: none;
				// @include transform(scale(0));
				@include transition(all .3s linear);
				.menu-fix__box3{
					max-width: 100%;
			        max-height: 100%;
			        padding: 0 0 25px;
					ul {
						list-style: none;
						padding: 0px;
						margin: 0;
						display: block;
						max-height: 100%;
						text-align: center;
						li{
							padding: 10px 0px;
							@include transition(all .3s ease);
							a{
								position: relative;
								color: $color161616;
								font-size: 16px;
								font-family: $fontRegular;
								font-weight: 400;
								line-height: 1.0;
							}
							&.active, &:hover{
								a{
									color: $color93754D;
								}
							}
							&.footer-hidden{
								display: block;
							}
						}
			      	}
				}
				&::-webkit-scrollbar-track
				{
					-webkit-box-shadow: none;
					@include border-radius(10px);
					background-color: rgba(0, 0, 0, .05);
				}
				&::-webkit-scrollbar
				{
					width: 7px;
					background-color: rgba(0, 0, 0, .05);
				}
				&::-webkit-scrollbar-thumb
				{
					@include border-radius(10px);
					-webkit-box-shadow: none;
					background-color: rgba(0, 0, 0, .1);
				}
		    }
		    .menu-fix__bottom{
		    	width: 100%;
				padding: 0px 20px 25px;
				opacity: 0;
				pointer-events: none;
				@include transition(all .3s linear);
				.menu-fix-contact{
					width: 100% !important;
					padding: 0 !important;
					@include align-items(center !important);
					text-align: center;
					.menu-fix-contact__item{
						padding: 0 0 5px;
					}
					a{
						color: $color161616;
						font-size: 18px;
						font-family: $fontRegular;
						svg{
							position: relative;
							top: 2px;
							max-width: 17px;
							max-height: 17px;
							path{
								fill: $color161616;
							}
						}
					}
				}
		    }
		    &::-webkit-scrollbar-track
			{
				-webkit-box-shadow: none;
				@include border-radius(20px);
				background-color: $colorWhite;
			}
			&::-webkit-scrollbar
			{
				width: 7px;
				background-color: $colorWhite;
			}
			&::-webkit-scrollbar-thumb
			{
				@include border-radius(10px);
				-webkit-box-shadow: none;
				background-color: $colorF5F5F5;
			}
		}
		&.active{
			&:after{
				pointer-events: all;
			    z-index: 1040;
				background: rgba($color161616, 0.6);
			}
		}
		&:after{
	    	content: '';
	    	display: block;
	    	position: fixed;
	    	z-index: 1040;
	    	top: 0;
	    	left: 0;
	    	width: 100%;
	    	height: 100%;
	    	pointer-events: none;
	    	background: rgba($color161616, 0);
	    	@include transition(all .3s linear .3s);
	    }
    }
}