.raiting-list{
	@include flexbox();
	.raiting-list__item{
		padding: 0 5px 0 0;
		width: 22px;
		height: 17px;
		background:url(../images/icon/star.png) no-repeat 0 0px;
		&.active{
			background:url(../images/icon/star.png) no-repeat 0 -17px;
		}
	}
	&.raiting-list-form{
		&:not(.no-hover){
			&:hover{
				cursor: pointer;
				.raiting-list__item{
					background:url(../images/icon/star.png) no-repeat 0 -34px;
					&:hover{
						& ~ .raiting-list__item{
							background:url(../images/icon/star.png) no-repeat 0 0;
						}
					}
				}
			}
		}
	}
}