.review-box-listView{
	.sorter{
		padding: 0 0 40px;
	}
}

.review-form-box{
	.raiting-form{
		margin: 0 0 20px;
		.raiting-form__header{
			color: $color161616;
			font-size: 18px;
			font-family: $fontMedium;
			font-weight: 500;
			line-height: 1.0;
			padding: 0 0 10px;
		}
	}
}
