.reviews-box{
	.reviews-box__header{
		padding: 0 0 40px;
	}
	.reviews-box__item{
		border-bottom: 1px solid $colorD9DDE8;
		padding: 0 0 40px;
		margin: 0 0 40px;
		&:last-child{
			border: none;
			// padding: 0;
		}
	}
	.reviews-box__img{
		width: 94px;
		height: 94px;
		img{
			@include border-radius(50%);
		}
	}
	.reviews-box__info{
		width: calc(100% - 94px);
		padding: 0 0 0 20px;
	}
	.reviews-box__raiting{
		padding: 0 0 15px;
	}
	.reviews-box__name{
		color: $color696969;
		font-size: 18px;
		line-height: 23px;
		span{
			display: block;
			color: $color161616;
			font-size: 20px;
			font-family: $fontBold;
			font-weight: bold;
			line-height: 25px;
		}
	}
	.reviews-box__description{
		height: 135px;
		overflow: hidden;
	    font-size: 16px;
    	line-height: 140%;
	}
	.reviews-box__more{
		position: relative;
		display: none;
	    padding: 5px 0 0;
		&:before{
			content: '';
			position: absolute;
			z-index: 1;
			left: 0;
			display: block;
			width: 100%;
			height: 30px;
			top: -20px;
			background: rgba($colorF5F5F5, 0);
			background: -moz-linear-gradient(top, rgba($colorF5F5F5, 0.4) 0%, rgba($colorF5F5F5, 1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba($colorF5F5F5, 0.4)), color-stop(100%, rgba($colorF5F5F5, 1)));
			background: -webkit-linear-gradient(top, rgba($colorF5F5F5, 0.4) 0%, rgba($colorF5F5F5, 1) 100%);
			background: -o-linear-gradient(top, rgba($colorF5F5F5, 0.4) 0%, rgba($colorF5F5F5, 1) 100%);
			background: -ms-linear-gradient(top, rgba($colorF5F5F5, 0.4) 0%, rgba($colorF5F5F5, 1) 100%);
			background: linear-gradient(to bottom, rgba($colorF5F5F5, 0.4) 0%, rgba($colorF5F5F5, 1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5F5F5', endColorstr='#F5F5F5', GradientType=0 );
		}
	}
	.reviews-box__link{
		color: $color161616;
		border-bottom: 1px solid $color161616;
	}
	&.reviews-box-modal{
		.reviews-box__description{
			height: auto !important;
			overflow: visible;
		}
		.reviews-box__more{
			display: none !important;
		}
	}
	&.reviews-page-box{
		.reviews-box__description{
			height: auto !important;
			overflow: visible;
		}
		.reviews-box__more{
			display: none !important;
		}
	}
	&.reviews-box-carousel{
		.reviews-box__item{
			padding: 0;
			margin: 0;
			border-bottom: none;
		}
	}
}

@media (max-width: 1600px){
	.reviews-box{
		.reviews-box__header{
			padding: 0 0 25px;
		}
		.reviews-box__item{
			padding: 0 0 40px;
			margin: 0 0 40px;
		}
		.reviews-box__img{
			width: 78px;
			height: 78px;
		}
		.reviews-box__info{
			width: calc(100% - 78px);
			padding: 0 0 0 18px;
		}
		.reviews-box__raiting{
			padding: 0 0 10px;
		}
		.reviews-box__name{
			font-size: 15px;
			line-height: 22px;
			span{
				font-size: 17px;
				line-height: 22px;
			}
		}
		.reviews-box__description{
			height: 115px;
			font-size: 14px;
    		line-height: 140%;
		}
	}
}

@media (max-width: 1100px){
	.reviews-box{
		.reviews-box__header{
			padding: 0 0 15px;
		}
		.reviews-box__item{
			padding: 0 0 40px;
			margin: 0 0 40px;
		}
		.reviews-box__img{
			width: 56px;
			height: 56px;
		}
		.reviews-box__info{
			width: calc(100% - 56px);
			padding: 0 0 0 16px;
		}
		.reviews-box__raiting{
			padding: 0 0 8px;
		}
		.reviews-box__name{
			font-size: 13px;
			line-height: 20px;
			span{
				font-size: 15px;
				line-height: 20px;
			}
		}
		.reviews-box__description{
			height: 100px;
		}
	}
}

@media (max-width: 360px){
	.reviews-box{
		&.reviews-box-modal{
			.reviews-box__img{
				display: none;
			}
			.reviews-box__info{
				width: 100%;
				padding: 0;
			}
		}
	}
}