.company-home{
	position: relative;
	overflow: hidden;
	.company-home__media, .company-home__gallery{
		min-height: 660px;
	}
	.back-logo{
		&.back-t-r{
			@include transform(translate(188px, -168px));
		}
	}
}

@media (max-width: 1600px){
	.company-home{
		.company-home__media, .company-home__gallery{
			min-height: 550px;
		}
		.back-logo{
			&.back-t-r{
				@include transform(translate(160px, -145px));
			}
		}
	}
}

@media (max-width: 1400px){
	.company-home{
		.back-logo{
			&.back-t-r{
				@include transform(translate(132px, -116px));
			}
		}
	}
}

@media (max-width: 1100px){
	.company-home{
		.company-home__media, .company-home__gallery{
			min-height: 390px;
		}
	}
}

@media (max-width: 768px){
	.company-home{
		.company-home__media, .company-home__gallery{
			min-height: 500px;
		}
	}
}

@media (max-width: 640px){
	.company-home{
		.company-home__media, .company-home__gallery{
			min-height: 400px;
		}
	}
}

@media (max-width: 480px){
	.company-home{
		.company-home__media, .company-home__gallery{
			min-height: 300px;
		}
	}
}