.direction-home{
	position: relative;
	padding: 130px 0 40px;
	@include background-size(cover !important);
	background-repeat: none !important;
}

.direction-box{
	margin: 0 -15px;
	.direction-box__item{
		position: relative;
		width: calc(100% / 3 - 30px);
		background: $colorWhite;
		margin: 0 15px 40px;
		&.direction-box__item_all{
			background: $color161616 url('../images/direction/back-mirror-all.png');
			@include background-size(cover);
			.direction-box__but{
				top: 0;
				.but{
					height: 40px;
					&:after{
						background: $colorWhite;
					}
					&:hover, &:focus, &:active{
						&.but-white{
							color: $color161616;
							&.but-svg{
								svg{
									path{
										fill: $color161616;
									}
									&.icon-long-arrow{
										path{
											fill: transparent;
											stroke: $color161616;
										}	
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.direction-box__info{
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 40px;
	}
	.direction-box__header{
		color: $color101010;
		font-size: 16px;
		font-family: $fontRegular;
		font-weight: normal;
		line-height: 20px;
		min-height: 90px;
		padding: 0 0 0 15px;
		border-left: 4px solid $color777777;
	}
	.direction-box__name{
		font-size: 14px;
		line-height: 18px;
		text-transform: uppercase;
		padding: 0 0 2px;
		strong{
			font-size: 20px;
			line-height: 25px;
			font-family: $fontMedium;
			font-weight: 500;
		}
		svg{
			max-width: 17px;
			max-height: 17px;
		}
	}
	.direction-box__desc{
		padding: 0 0 5px;
	}
	.direction-box__but{
		position: relative;
		top: 7px;
		.but{
			height: 40px;
		}
	}
	.direction-box__img{
		position: relative;
		z-index: 0;
		min-height: 380px;
		a{
			display: block;
		}
		a, picture{
			width: 100%;
			height: 100%;
		}
	}
	&.direction-box-page{
		.direction-box__item{
			@include box-shadow(0 3px 15px rgba(0, 0, 0, .15));
		}
	}
}

@media (max-width: 1600px){
	.direction-home{
		padding: 110px 0 30px;
	}

	.direction-box{
		.direction-box__info{
			padding: 35px 30px;
		}
		.direction-box__header{
			font-size: 14px;
			line-height: 18px;
			min-height: 75px;
			padding: 0 0 0 10px;
			border-width: 3px;
		}
		.direction-box__name{
			strong{
				font-size: 16px;
				line-height: 22px;
			}
			svg{
				max-width: 17px;
				max-height: 17px;
			}
		}
		.direction-box__img{
			min-height: 313px;
		}
	}
}

@media (max-width: 1100px){
	.direction-home{
		padding: 75px 0 30px;
	}

	.direction-box{
		margin: 0 -10px;
		.direction-box__item{
			width: calc(100% / 3 - 20px);
			margin: 0 10px 20px;
		}
		.direction-box__info{
			padding: 25px 20px;
		}
		.direction-box__header{
			font-size: 14px;
			line-height: 16px;
			min-height: 75px;
			padding: 0 0 0 10px;
			border-width: 2px;
		}
		.direction-box__name{
			padding: 0 0 10px;
			strong{
				display: block;
				font-size: 16px;
				line-height: 22px;
			}
			svg{
				max-width: 17px;
				max-height: 17px;
			}
		}
		.direction-box__desc{
			min-height: 36px;
			padding: 0 0 5px;
		}
		.direction-box__img{
			min-height: 230px;
		}
	}
}

@media (max-width: 768px){
	.direction-box{
		.direction-box__item{
			width: calc(100% / 2 - 20px);
		}
		&.direction-box-galleryXs{
			opacity: 0;
		    visibility: hidden;
		    @include transition(all 1.2s ease);
		    &.slick-initialized {
		        opacity: 1;
		        visibility: visible;
		        .slick-slide {
		            &::before {
		                pointer-events: none;
		                opacity: 0;
		            }
		        }
		    }
			.slick-track{
				@include flexbox();
				// @include flex-wrap(wrap);
				height: auto;
			}
			.slick-slide{
				pointer-events: none;
				// @include flexbox();
				height: auto !important;
				opacity: 0.3;
				@include transition(.3s linear .2s);
				&.slick-active, &.slick-current{
					pointer-events: all;
					opacity: 1;
					@include transition(.3s linear .1s);
				}
			}
		}
	}
}

@media (max-width: 540px){
	.direction-box{
		&.direction-box-galleryXs{
			width: 320px;
			.slick-list{
			    overflow: visible;
			}
			.slick-track{
				@include flexbox();
				height: auto;
			}
			.slick-slide{
				pointer-events: none;
				// @include flexbox();
				height: auto !important;
				opacity: 0.6;
				@include transition(.3s linear .2s);
				&.slick-active, &.slick-current{
					pointer-events: all;
					opacity: 1;
					@include transition(.3s linear .1s);
				}
			}
		}
	}
}

@media (max-width: 480px){
	.direction-box{
		.direction-box__item{
			width: calc(100% / 1 - 20px);
		}
	}
}

@media (max-width: 400px){
	.direction-box{
		&.direction-box-galleryXs{
			width: 280px;
		}
	}
}

@media (max-width: 360px){
	.direction-box{
		margin: 0 -6px;
		.direction-box__item{
			width: calc(100% / 1 - 12px);
			margin: 0 6px 20px;
		}
	}
}