.mirrors-gallery-home{
	padding: 90px 0;
}

.mirrors-gallery{
	margin: 0 -15px;
	.mirrors-gallery__item{
		width: 483px;
		height: 440px;
		margin: 0 15px;
		&:hover, &:focus, &:active{
			.mirrors-gallery__img{
				source, img{
					@include transform(scale(1.05));
					@include transition(.3s);
				}
			}
		}
	}
	.mirrors-gallery__link{
		width: 100%;
		height: 100%;
	}
	.mirrors-gallery__img{
		width: 100%;
		height: 100%;
		a{
			display: block;
		}
		a, picture{
			width: 100%;
			height: 100%;
		}
	}
	&.mirrors-gallery-carousel{
		margin-bottom: 0 !important;
		.slick-list{
			overflow: visible;
		}
		.slick-prev,
		.slick-next {
			&:hover, &:focus {
				svg{
		            path{
						stroke: $colorWhite;
					}
		        }
		    }
		}
	}
}

.carousel-gallery-arrowType{
	.slick-prev,
	.slick-next {
		width: 30px;
		height: 60px;
		background: transparent !important;
		top: 50%;
		@include transform(translate(0, -50%));
		svg{
			width: 100%;
			path{
				fill: transparent;
				stroke: $color161616;
			}
		}
		&:hover, &:focus {
			background: transparent !important;
			svg{
	            path{
	                fill: transparent;
					stroke: $color93754D;
	            }
	        }
	    }
	}
}

@media (max-width: 1600px){
	.mirrors-gallery-home{
		padding: 80px 0 50px;
	}

	.mirrors-gallery{
		.mirrors-gallery__item{
			width: 400px;
			height: 370px;
		}
	}
	.carousel-gallery-arrowType{
		.slick-prev,
		.slick-next {
			width: 25px;
			height: 50px;
		}
	}
}

@media (max-width: 1100px){
	.mirrors-gallery-home{
		padding: 60px 0;
	}
	.mirrors-gallery{
		margin: 0 -10px;
		.mirrors-gallery__item{
			width: 286px;
			height: 260px;
			margin: 0 10px;
		}
	}
	.carousel-gallery-arrowType{
		.slick-prev,
		.slick-next {
			width: 17px;
			height: 35px;
		}
	}
}

@media (max-width: 860px){
	.mirrors-gallery-home{
		padding: 60px 0 40px;
		.content{
			position: relative;
		}
	}
	.mirrors-gallery{
		.mirrors-gallery__item{
			margin: 0 10px 20px;
		}
		&.mirrors-gallery-carousel{
			.slick-prev,
			.slick-next {
				&:hover, &:focus {
					svg{
			            path{
			                fill: transparent;
							stroke: $color93754D;
			            }
			        }
			    }
			}
		}
	}
	.carousel-gallery-arrowType{
		padding-bottom: 40px;
		.slick-prev,
		.slick-next {
			top: auto !important;
			bottom: 0px !important;
			width: 14px;
            height: 36px;
			@include transform(translate(0, 0));
		}
		.slick-prev{
			left: 10px;
		}
		.slick-next{
			right: auto !important;
			left: 50px;
		}
	}
}

@media (max-width: 640px){
	.mirrors-gallery{
		.mirrors-gallery__item{
			width: 240px;
			height: 220px;
		}
	}
}

@media (max-width: 400px){
	.mirrors-gallery{
		.mirrors-gallery__item{
			width: 260px;
		}
	}
}

@media (max-width: 360px){
	.mirrors-gallery{
		margin: 0 -6px;
		.mirrors-gallery__item{
			margin: 0 6px 20px;
		}
	}
}