.news-home{
	position: relative;
	overflow: hidden;
	padding: 130px 0 90px;
	&:after{
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		width: 71%;
		height: 100%;
		background: $colorF5F5F5;
	}
}

.news-box{
	@include flexbox();
	@include flex-wrap(wrap);
	margin: 0 -15px;
	.news-box__item{
		width: calc(100% / 3 - 30px);
		margin: 0 15px 30px;
		&:hover, &:focus, &:active{
			.news-box__img{
				source, img{
					@include transform(scale(1.05));
					@include transition(.3s);
				}
			}
		}
	}
	.news-box__img{
		position: relative;
		width: 100%;
		height: 286px;
		overflow: hidden;
		@include transition(.3s);
		a{
			display: block;
		}
		a, picture{
			width: 100%;
			height: 100%;
		}
	}
	.news-box__info{
		padding: 8px 0 0;
	}
	.news-box__date{
		width: 100%;
		color: $color828282;
		font-size: 14px;
		font-weight: normal;
		line-height: 140%;
		padding: 0 0 12px;
	}
	.news-box__name{
		min-height: 54px;
		width: 100%;
		color: $color101010;
		font-size: 16px;
		font-weight: normal;
		line-height: 140%;
		padding: 0 0 10px;
	}
	.news-box__link{
		color: $color101010;
		&:hover, &:focus, &:active{
			color: $color93754D;
		}
	}
	.news-box__but{
		.but{
			height: 40px;
		}
	}
	&.news-page{
		.news-box__item{
			width: calc(100% / 3 - 30px) !important;
		}
	}
	&.news-box-carousel{
		margin-bottom: 0 !important;
		.slick-track{
			@include flexbox();
			margin: 0;
			height: auto;
		}
		.news-box__item{
			width: calc(100% / 1 - 30px);
		}
		.slick-prev,
		.slick-next {
			top: 150px;
		}
	}
}

@media (max-width: 1600px){
	.news-home{
		padding: 110px 0 80px;
		&:after{
			width: 73%;
		}
	}

	.news-box{
		.news-box__img{
			height: 238px;
		}
		.news-box__info{
			padding: 8px 0 0;
		}
		.news-box__date{
			font-size: 13px;
			line-height: 140%;
			padding: 0 0 12px;
		}
		.news-box__name{
			font-size: 14px;
			line-height: 140%;
			padding: 0 0 10px;
		}
		.news-box__but{
			.but{
				height: 40px;
			}
		}
		&.news-box-carousel{
			.slick-prev,
			.slick-next {
				top: 124px;
			}
		}
	}
}

@media (max-width: 1100px){
	.news-home{
		padding: 75px 0 55px;
		&:after{
			width: 68%;
		}
	}
	.news-box{
		margin: 0 -10px;
		.news-box__item{
			width: calc(100% / 3 - 20px);
			margin: 0 10px 20px;
		}
		.news-box__img{
			height: 175px;
		}
		.news-box__info{
			padding: 8px 0 0;
		}
		.news-box__date{
			font-size: 13px;
			line-height: 130%;
			padding: 0 0 10px;
		}
		.news-box__name{
			min-height: 65px;
			font-size: 14px;
			line-height: 130%;
			padding: 0 0 10px;
		}
		.news-box__but{
			.but{
				height: 40px;
			}
		}
		&.news-page{
			.news-box__item{
				width: calc(100% / 3 - 20px) !important;
			}
		}
		&.news-box-carousel{
			.news-box__item{
				width: calc(100% / 1 - 20px);
			}
			.slick-prev,
			.slick-next {
				top: 87px;
			}
		}
	}
}

@media (max-width: 860px){
	.news-home{
		.content{
			position: relative;
		}
	}
}

@media (max-width: 768px){
	.news-box{
		.news-box__item{
			width: calc(100% / 2 - 20px);
		}
		&.news-page{
			.news-box__item{
				width: calc(100% / 2 - 20px) !important;
			}
		}
	}
}

@media (max-width: 540px){
	.news-box{
		&.news-box-carousel{
			width: 320px;
			.slick-list{
			    overflow: visible;
			}
			.slick-track{
				@include flexbox();
				height: auto;
			}
			.slick-slide{
				pointer-events: none;
				@include flexbox();
				height: auto !important;
				opacity: 0.5;
				@include transition(.3s linear .2s);
				&.slick-active, &.slick-current{
					pointer-events: all;
					opacity: 1;
					@include transition(.3s linear .1s);
				}
			}
		}
	}
}

@media (max-width: 480px){
	.news-box{
		.news-box__item{
			width: calc(100% / 1 - 20px);
			margin-bottom: 40px;
		}
		&.news-page{
			.news-box__item{
				width: calc(100% / 1 - 20px) !important;
				margin-bottom: 40px;
			}
		}
	}
}

@media (max-width: 400px){
	.news-box{
		&.news-box-carousel{
			width: 280px;
		}
	}
}

@media (max-width: 360px){
	.news-box{
		margin: 0 -6px;
		.news-box__item{
			width: calc(100% / 3 - 12px);
			margin: 0 6px 30px;
		}
		&.news-page{
			.news-box__item{
				width: calc(100% / 1 - 12px) !important;
			}
		}
		&.news-box-carousel{
			.news-box__item{
				width: calc(100% / 1 - 12px);
			}
		}
	}
}