.partners-home{
	padding: 130px 0;
}
.partners-box{
	@include flexbox();
	@include flex-wrap(wrap);
	margin: 0 -20px;
	.partners-box__item{
		width: calc(100% / 5 - 40px);
		height: auto;
		margin: 0 20px;
	}
	.partners-box__img{
		position: relative;
	    height: 100%;
		height: 80px;
		picture{
			height: 100%;
		}
		img, source{
			margin: 0 auto;
			max-height: 100%;
		}
	}
	&.partners-box-carousel{
		margin-bottom: 0 !important;
		.slick-track{
			@include flexbox();
			margin: 0;
			height: auto;
		}
		.partners-box__item{
			width: calc(100% / 1 - 40px);
		}
	}
}

@media (max-width: 1600px){
	.partners-home{
		padding: 110px 0;
	}

	.partners-box{
		margin: 0 -15px;
		.partners-box__item{
			width: calc(100% / 5 - 30px);
			margin: 0 15px;
		}
		.partners-box__img{
			height: 70px;
		}
		&.partners-box-carousel{
			.partners-box__item{
				width: calc(100% / 1 - 30px);
			}
		}
	}
}

@media (max-width: 1100px){
	.partners-home{
		padding: 75px 0;
	}

	.partners-box{
		margin: 0 -10px;
		.partners-box__item{
			width: calc(100% / 4 - 20px);
			margin: 0 10px;
		}
		.partners-box__img{
			height: 50px;
		}
		&.partners-box-carousel{
			.partners-box__item{
				width: calc(100% / 1 - 20px);
			}
		}
	}
}

@media (max-width: 860px){
	.partners-box{
		.partners-box__item{
			margin: 0 10px 20px;
		}
	}
}

@media (max-width: 540px){
	.partners-box{
		margin: 0 -10px;
		.partners-box__item{
			width: calc(100% / 4 - 20px);
			margin: 0 10px 20px;
		}
		.partners-box__img{
			height: 80px;
		}
		&.partners-box-carousel{
			.partners-box__item{
				width: 205px;
			}
			.slick-slide{
				@include flexbox();
				height: auto !important;
				opacity: 0.4;
				@include transition(.3s linear .2s);
				&.slick-active, &.slick-current{
					opacity: 1;
					@include transition(.3s linear .1s);
				}
			}
		}
	}
}