.questions-home{
	position: relative;
	overflow: hidden;
	background: $colorF5F5F5;
	.content{
		position: relative;
		z-index: 1;
		// @include align-items(flex-start);
	}
	.questions-home__info{
		color: $color101010;
		font-size: 18px;
		line-height: 23px;
		.box-style{
			.box-style__heading{
				color: $color101010;
			}
		}
		.questions-phone{
			margin: 50px 0 0;
		}
		a{
			color: $color101010;
			font-size: 25px;
			font-family: $fontMedium;
			font-weight: 500;
			line-height: 31px;
			svg{
				position: relative;
				top: 3px;
				margin: 0 3px 0 0;
				width: 24px;
				height: 24px;
				path{
					fill: $color101010;
				}
			}
		}
	}
	.questions-home__desc{
	    padding: 0;
	}
	.questions-home__media, .questions-home__gallery{
		min-height: 550px;
	}
	.back-logo{
		&.back-b-l{
			@include transform(translate(-188px, 168px));
		}
	}
}

@media (max-width: 1600px){
	.questions-home{
		.questions-home__info{
			font-size: 15px;
			line-height: 19px;
			.questions-phone{
				margin: 40px 0 0;
			}
			a{
				font-size: 21px;
				line-height: 26px;
				svg{
					top: 3px;
					margin: 0 3px 0 0;
					width: 20px;
					height: 20px;
				}
			}
		}
		.questions-home__media, .questions-home__gallery{
			min-height: 460px;
		}
		.back-logo{
			&.back-b-l{
				@include transform(translate(-158px, 150px));
			}
		}
	}
}

@media (max-width: 1400px){
	.questions-home{
		.back-logo{
			&.back-b-l{
				@include transform(translate(-130px, 124px));
			}
		}
	}
}

@media (max-width: 1100px){
	.questions-home{
		.questions-home__info{
			font-size: 14px;
			line-height: 17px;
			.questions-phone{
				margin: 35px 0 0;
			}
			a{
				font-size: 19px;
				line-height: 24px;
				svg{
					top: 3px;
					margin: 0 3px 0 0;
					width: 18px;
					height: 18px;
				}
			}
		}
		.questions-home__media, .questions-home__gallery{
			min-height: 306px;
		}
	}
}

@media (max-width: 768px){
	.questions-home{
		.questions-home__media, .questions-home__gallery{
			min-height: 500px;
		}
	}
}

@media (max-width: 640px){
	.questions-home{
		.questions-home__media, .questions-home__gallery{
			min-height: 400px;
		}
	}
}

@media (max-width: 480px){
	.questions-home{
		padding: 0 0 30px;
		.questions-home__media, .questions-home__gallery{
			display: none;
			min-height: 300px;
		}
	}
}