.reviews-home{
	background: $colorF5F5F5;
	.content{
		position: relative;
		z-index: 1;
		@include align-content(flex-start);
	}
	.reviews-home__info{
		color: $color101010;
		.box-style{
			.box-style__heading{
				color: $color101010;
			}
		}
	}
	.reviews-home__media, .reviews-home__gallery{
		min-height: 650px;
	}
	&.sideways-box{
		&.sideways-box-l{
			.reviews-home__info{
				padding: 95px 0 70px 105px;
			}
		}
	}
}

.reviews-nav{
	position: relative;
	padding: 60px 0 0;
	.reviews-nav__counter{
		width: calc(100% - 100px);
	}
	.reviews-nav__arrows{
		width: 100px;
	}
}

.reviews-nav-counter{
	color: $color93754D;
	font-size: 14px;
	font-family: $fontMedium;
	font-weight: 500;
	line-height: 18px;
	span{
		position: relative;
		display: inline-block;
		width: 185px;
		// padding: 0 180px 0 0;
		&:after{
			content: '';
			position: absolute;
			top: calc(50% - 0.5px);
			right: 20px;
			width: 130px;
			height: 1px;
			background: $color93754D;
		}
	}
}

.reviews-nav-arrows{
	.slick-prev,
	.slick-next {
		background: $color93754D;
		svg{
	 		path{
	            fill: $colorWhite;
	        }
	    }
	    &:hover, &:focus {
	 		border-color: $color161616 !important;
	        background: $color161616 !important;
	        svg{
	            path{
	                fill: $colorWhite;
	            }
	        }
	    }
	}
	.slick-prev {
	    background: rgba($color93754D, .6);
	     svg{
	        path{
	            fill: $colorWhite;
	        }
	    }
	}
}

@media (max-width: 1600px){
	.reviews-home{
		.reviews-home__media, .reviews-home__gallery{
			min-height: 540px;
		}
		&.sideways-box{
			&.sideways-box-l{
				.reviews-home__info{
					padding: 80px 0 50px 85px;
				}
			}
		}
	}
	.reviews-nav{
		padding: 45px 0 0;
		.reviews-nav__counter{
			width: calc(100% - 90px);
		}
		.reviews-nav__arrows{
			width: 90px;
		}
	}
}

@media (max-width: 1100px){
	.reviews-home{
		.reviews-home__media, .reviews-home__gallery{
			min-height: 386px;
		}
		&.sideways-box{
			&.sideways-box-l{
				.reviews-home__info{
					padding: 50px 0 50px 50px;
				}
			}
		}
	}
	.reviews-nav{
		padding: 35px 0 0;
		.reviews-nav__counter{
			width: calc(100% - 90px);
		}
		.reviews-nav__arrows{
			width: 90px;
		}
	}
}

@media (max-width: 768px){
	.reviews-home{
		.reviews-home__media, .reviews-home__gallery{
			min-height: 500px;
		}
	}
	.reviews-nav-counter{
		span{
			width: 160px;
			&:after{
			    right: 15px;
    			width: 110px;
			}
		}
	}
}

@media (max-width: 640px){
	.reviews-home{
		.reviews-home__media, .reviews-home__gallery{
			min-height: 400px;
		}
	}
}

@media (max-width: 480px){
	.reviews-home{
		.reviews-home__media, .reviews-home__gallery{
			min-height: 300px;
		}
	}
}