.sideways-box{
	background: $color161616;
	.sideways-box__media{
		position: relative;
		order: 2;
		width: calc(100% - 583px);
	}
	.sideways-box__gallery{
		position: absolute;
		left: 0;
		top: 0;
		width: 980px;
		height: 100%;
	}
	.sideways-box__info{
		order: 1;
		width: 583px;
		padding: 90px 135px 90px 0;
		color: $colorWhite;
		font-size: 16px;
		line-height: 140%;
		.box-style{
			.box-style__heading{
				color: $colorWhite;
			}
		}
	}
	.sideways-box__desc{
	}
	.sideways-box__but{
		padding: 40px 0 0;
		.but{
			&:after{
				background: $colorWhite;
			}
			&:hover, &:focus, &:active{
				&.but-white{
					color: $color161616;
					&.but-svg{
						svg{
							path{
								fill: $color161616;
							}
							&.icon-long-arrow{
								path{
									fill: transparent;
									stroke: $color161616;
								}	
							}
						}
					}
				}
			}
		}
	}
	&.sideways-box-l{
		.sideways-box__media{
			@include flexbox();
			@include justify-content(flex-end);
			order: 1;
			width: calc(100% - 617px);
		}
		.sideways-box__gallery{
			left: auto;
			right: 0;
			width: 960px;
		}
		.sideways-box__info{
			order: 2;
			width: 617px;
			padding: 90px 0 90px 135px;
		}
		.sideways-box__but{
			.but{
				padding: 0 0 0 18px;
				margin: 0 0 0 auto;
				&:hover, &:focus, &:active{
					span{
						@include transform(translateX(7px));
					}
				}
			}
		}
		.sideways-gallery{
			&.sideways-gallery-carousel{
				.slick-prev, .slick-next{
					left: auto !important;
				}
				.slick-prev{
					right: 50px !important;
				}
				.slick-next{
					right: 0 !important;
				}
			}
		}
	}
}

.sideways-gallery{
	width: 100%;
	height: 100%;
	.sideways-gallery__item{
		height: 100%;
	}
	.sideways-gallery__link{
		width: 100%;
		height: 100%;
	}
	.sideways-gallery__img{
		width: 100%;
		height: 100%;
		picture{
			width: 100%;
			height: 100%;
		}
	}
	&.sideways-gallery-carousel{
		margin-bottom: 0 !important;
		.slick-track, .slick-list{
			height: 100%;
		}
		.slick-prev, .slick-next{
			top: auto;
			@include transform(translate(0, 0));
			bottom: 0;
			right: auto !important;
		}
		.slick-prev{
			left: 0 !important;
		}
		.slick-next{
			left: 50px !important;
		}
	}
}

@media (max-width: 1600px){
	.sideways-box{
		.sideways-box__media{
			width: calc(100% - 485px);
		}
		.sideways-box__gallery{
			width: 815px;
		}
		.sideways-box__info{
			width: 485px;
			padding: 105px 105px 90px 0;
			font-size: 14px;
			line-height: 140%;
		}
		.sideways-box__but{
			padding: 30px 0 0;
		}
		&.sideways-box-l{
			.sideways-box__media{
				width: calc(100% - 515px);
			}
			.sideways-box__gallery{
				width: 786px;
			}
			.sideways-box__info{
				width: 515px;
				padding: 105px 0 90px 105px;
			}
			.sideways-gallery{
				&.sideways-gallery-carousel{
					.slick-prev{
						right: 45px !important;
					}
				}
			}
		}
	}
	.sideways-gallery{
		&.sideways-gallery-carousel{
			.slick-next{
				left: 45px !important;
			}
		}
	}
}

@media (max-width: 1100px){
	.sideways-box{
		.sideways-box__media{
			width: calc(100% - 346px);
		}
		.sideways-box__gallery{
			width: 560px;
		}
		.sideways-box__info{
			width: 346px;
			padding: 50px 50px 50px 0;
			font-size: 14px;
			line-height: 140%;
		}
		.sideways-box__but{
			padding: 20px 0 0;
		}
		&.sideways-box-l{
			.sideways-box__media{
				width: calc(100% - 383px);
			}
			.sideways-box__gallery{
				width: 530px;
			}
			.sideways-box__info{
				width: 383px;
				padding: 50px 0 50px 50px;
			}
			.sideways-gallery{
				&.sideways-gallery-carousel{
					.slick-prev{
						right: 40px !important;
					}
				}
			}
		}
	}
	.sideways-gallery{
		&.sideways-gallery-carousel{
			.slick-next{
				left: 40px !important;
			}
		}
	}
}

@media (max-width: 768px){
	.sideways-box{
		.sideways-box__media{
			order: 2;
			width: calc(100% + 40px);
			margin: 0 -20px;
		}
		.sideways-box__gallery{
			width: 100%;
		}
		.sideways-box__info{
			order: 1;
			width: 100%;
			padding: 75px 0 50px !important;
		}
		.sideways-box__but{
			padding: 20px 0 0;
		}
		&.sideways-box-l{
			.sideways-box__media{
				order: 2;
				width: calc(100% + 40px);
				margin: 0 -20px;
			}
			.sideways-box__gallery{
				width: 100%;
			}
			.sideways-box__info{
				order: 1;
				width: 100%;
				padding: 75px 0 50px !important;
			}
			.sideways-gallery{
				&.sideways-gallery-carousel{
					.slick-prev{
						right: 40px !important;
					}
				}
			}
		}
	}
	.sideways-gallery{
		&.sideways-gallery-carousel{
			.slick-prev, .slick-next{
				left: auto !important;
			}
			.slick-prev{
				right: 40px !important;
			}
			.slick-next{
				right: 0 !important;
			}
		}
	}
}

@media (max-width: 360px){
	.sideways-box{
		.sideways-box__media{
			width: calc(100% + 20px);
			margin: 0 -10px;
		}
		&.sideways-box-l{
			.sideways-box__media{
				width: calc(100% + 20px);
				margin: 0 -10px;
			}
		}
	}
}