.subcribe-home{
	position: relative;
	overflow: hidden;
	.subcribe-home__media, .subcribe-home__gallery{
		min-height: 650px;
	}
}

@media (max-width: 1600px){
	.subcribe-home{
		.subcribe-home__media, .subcribe-home__gallery{
			min-height: 540px;
		}
	}
}

@media (max-width: 1400px){
	.subcribe-home{
		.back-img{
			&.back-img-1{
				@include transform(translate(-15px, 0));
			}
		}
	}
}

@media (max-width: 1300px){
	.subcribe-home{
		.back-img{
			display: none;
		}
	}
}

@media (max-width: 1100px){
	.subcribe-home{
		.subcribe-home__media, .subcribe-home__gallery{
			min-height: 386px;
		}
	}
}

@media (max-width: 768px){
	.subcribe-home{
		.subcribe-home__media, .subcribe-home__gallery{
			min-height: 500px;
		}
	}
}

@media (max-width: 640px){
	.subcribe-home{
		.subcribe-home__media, .subcribe-home__gallery{
			min-height: 400px;
		}
	}
}

@media (max-width: 480px){
	.subcribe-home{
		.subcribe-home__media, .subcribe-home__gallery{
			min-height: 300px;
		}
	}
}