.advantages-box{
	.advantages-box__item{
		display: inline-block;
		vertical-align: top;
		width: 280px;
		margin: 0 15px 30px;
	}
	.advantages-box__img{
		display: inline-block;
		text-align: center;
		padding: 18px 25px 16px;
		border: 1px solid rgba(255, 255, 255, 0.3);
		@include border-radius(4px);
		img{
			display: inline-block;
		}
	}
	.advantages-box__desc{
		margin: 30px 0px 0px;
		font-size: 16px;
		font-family: Comfortaa-Regular;
	}
	&.advantages-carousel{
		width: calc(100% - 140px);
		margin: 0 auto;
		.advantages-box__item{
			display: block;
			width: 280px;
			margin: 0 auto;
		}
		.slick-prev {
		    left: -70px;
		}
		.slick-next {
		    right: -70px;
		}
	}
}