.breadcrumb{
	background: transparent;
	margin: 0px;
	padding: 30px 0px 20px; 
	li{
		position: relative;
		display: inline;
		color: $color777777;
		font-size: 14px;
		line-height: 22px;
		font-weight: normal;
		a{
			color: $color777777;
			border-bottom: none;
			&:hover{
				color: $color93754D;
			}
		}
		&.active{
			color: $color777777;
			a{
				color: $color777777;
			}
		}
	}
	&>li{
		&+li{
			&:before{
			    content: "\f105";
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				color: $color777777;
				padding: 0px 6px 0px 10px;
			}
		}
	}
}

@media (max-width: 1100px){
	.breadcrumb{
		line-height: 1.0;
		li{
			line-height: 16px;
		}
	}
}

@media (max-width: 640px){
	.breadcrumb{
		li{
			font-size: 14px;
			a{
				font-size: 14px;
			}
		}
		&>li{
			&+li{
				&:before{
					padding: 0px 4px 0px 6px;
				}
			}
		}
	}
}