.contact-box{
	padding: 15px 0 0;
	.contact-box__info{
		float: left;
		width: 470px;
		h1{
			padding: 0 0 40px;
		}
		p{
			margin: 0 0 25px;
			br{
				display: none;
			}
		}
		a{
			color: $color101010;
			svg{
				position: relative;
				top: 3px;
				max-width: 17px;
				max-height: 17px;
				path{
					fill: $color101010;
				}
			}
		}
		.br{
			display: none;
		}
	}
	.contact-box__map{
		float: right;
		width: calc(100% - 520px);
		iframe{
			width: 100% !important;
			height: 440px !important;
		}
	}
	&:after{
		content: '';
		clear: both;
		display: block;
	}
}


@media (max-width: 1200px){
	.contact-box{
		.contact-box__info{
			float: none;
			width: 100%;
			padding: 0 0 40px;
		}
		.contact-box__map{
			float: none;
			width: 100%;
			iframe{
				height: 400px !important;
			}
		}
	}
}