.image-box{
	padding: 15px 0;
	margin-left: -10px !important;
	margin-right: -10px !important;
	.image-box__item{
		position: relative;
		width: calc(100% / 3 - 20px);
		height: 375px;
		margin: 10px;
		overflow: hidden;
		@include border-radius(0);
		a{
			display: block;
			width: 100%;
			height: 100%;
			
		}
		img{
			@include transition(transform .2s cubic-bezier(0.33, 1, 0.68, 1));
		}
		&.img-col-12{
			width: 100%;
			height: auto;
			img{
				position: relative;
			    width: auto;
			    height: auto;
			    top: auto;
			    left: auto;
			    -o-object-fit: unset;
			    object-fit: unset;
			}
		}
		&.img-col-6{
			width: calc(100% / 2 - 20px);
			height: 394px;
		}
		&:hover{
			img{
				@include transform(scale(1.05));
			}
		}
	}
}

@media (max-width: 1600px){
	.image-box{
		margin-left: -10px !important;
		margin-right: -10px !important;
		.image-box__item{
			width: calc(100% / 3 - 20px);
			height: 340px;
			margin: 10px;
			&.img-col-6{
				width: calc(100% / 2 - 20px);
				height: 394px;
			}
		}
	}
}

@media (max-width: 1300px){
	.image-box{
		margin-left: -10px !important;
		margin-right: -10px !important;
		.image-box__item{
			width: calc(100% / 3 - 20px);
			height: 236px;
			margin: 10px;
			&.img-col-6{
				width: calc(100% / 2 - 20px);
				height: 360px;
			}
		}
	}
}

@media (max-width: 1000px){
	.image-box{
		margin-left: -6px !important;
		margin-right: -6px !important;
		.image-box__item{
			width: calc(100% / 2 - 12px);
			height: 240px;
			margin: 6px;
			&.img-col-6{
				width: calc(100% / 2 - 12px);
				height: 240px;
			}
		}
	}
}

@media (max-width: 768px){
	.image-box{
		.image-box__item{
			height: 220px;
			&.img-col-6{
				height: 220px;
			}
		}
	}
}

@media (max-width: 640px){
	.image-box{
		.image-box__item{
			height: 210px;
			&.img-col-6{
				height: 210px;
			}
		}
	}
}

/* @media (max-width: 480px){
	.image-box{
		margin-left: 0 !important;
		margin-right: 0 !important;
		.image-box__item{
			width: 100%;
			height: auto;
			margin: 0 0 20px;
			&.img-col-6{
				width: 100%;
				height: auto;
			}
			img{
				position: relative;
			    width: auto;
			    height: auto;
			    top: auto;
			    left: auto;
			    -o-object-fit: unset;
			    object-fit: unset;
			}
			&:last-child{
				margin: 0;
			}
		}
	}
} */