.page-content{
	color: $color101010;
	font-size: 16px;
	line-height: 140%;
    padding: 0 0 70px;
    h1{
    	// padding-top: 20px;
    }
    p{
    	margin: 0 0 30px;
    	&:last-child{
    		margin: 0;
    	}
    }
    blockquote{
    	position: relative;
	    padding: 20px 0 20px 72px;
	    margin: 0;
	    font-size: inherit;
	    line-height: inherit;
	    border: none;
	    &:before{
	    	content: '';
	    	position: absolute;
	    	top: 20px;
	    	left: 0;
	    	width: 40px;
	    	height: 39px;
	    	background: url('../images/icon/quote.svg') no-repeat;
	    	@include background-size(contain !important);
	    }
    }
}

@media (max-width: 1600px){
	.page-content{
		font-size: 14px;
		line-height: 140%;
	    padding: 0 0 60px;
	    p{
	    	margin: 0 0 25px;
	    	&:last-child{
	    		margin: 0;
	    	}
	    }
	    blockquote{
		    padding: 20px 0 20px 64px;
		     &:before{
				width: 38px;
				height: 37px;
			}
	    }
	}
}

@media (max-width: 1100px){
	.page-content{
		p{
	    	margin: 0 0 20px;
			&:last-child{
	    		margin: 0;
	    	}
	    }
 		blockquote{
		    padding: 10px 0 10px 42px;
		     &:before{
		     	top: 15px;
				width: 28px;
    			height: 27px;
			}
	    }
	}
}

@import "_breadcrumb";
@import "_pagination";
@import "./company/_index";
@import "./news/_index";
@import "_gallery-box";
@import "./reviews/_index";
@import "_contact-page";
@import "./portfolio/_index";
@import "_navPage";
@import "_sitemap";

// @import "_advantages";
// @import "_callback";