.navPage-section{
	overflow: hidden;
	.navPage-section__item{
		position: relative;
		width: 50%;
		min-height: 240px;
		padding: 20px 0 20px 200px;
		a{
			color: $color161616;
			.navPage-section__span{
				order: 2;
			}
			.navPage-section__name{
				position: relative;
				display: inline;
				color: $color93754D;
				font-size: 16px;
				font-family: $fontMedium;
				font-weight: 500;
				line-height: 20px;
				text-transform: uppercase;
			}
			svg{
				order: 1;
				margin: 0 10px 0 0;
				@include transition(transform .3s linear);
				path{
					stroke: $color93754D;
				}
			}
			&:hover, &:focus, &:active{
				svg{
					@include transform(translateX(5px));
				}
			}
		}
		&:after{
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			right: 0;
			width: 300%;
			height: 100%;
			background: $colorWhite;
		}
		&:last-child{
			
			a{
				.navPage-section__span{
					order: 1;
				}
				.navPage-section__name{
					color: $color161616;
				}
				svg{
					order: 2;
					margin: 0 0 0 10px;
					path{
						stroke: $color161616;
					}
				}
				&:hover, &:focus, &:active{
					svg{
						@include transform(translateX(-5px));
					}
				}
			}
			&:after{
				left: 0;
				right: auto;
				background: $colorF5F5F5;
			}
		}	
	}
}

@media (max-width: 1600px){
	.navPage-section{
		.navPage-section__item{
			min-height: 200px;
			padding: 20px 0 20px 130px;
		}
	}
}

@media (max-width: 1100px){
	.navPage-section{
		.navPage-section__item{
			min-height: 170px;
			padding: 20px 0 20px 60px;
		}
	}
}

@media (max-width: 768px){
	.navPage-section{
		.navPage-section__item{
			min-height: 170px;
			padding: 20px 0 20px 40px;
			a{
				.navPage-section__name{
					font-size: 14px;
					line-height: 18px;
				}
				svg{
					margin: 0 10px 0 0;
				}
			}
		}
	}
}

@media (max-width: 640px){
	.navPage-section{
		display: none;
		.navPage-section__item{
			min-height: 170px;
			padding: 20px 30px 20px 0;
			a{
				.navPage-section__name{
					font-size: 13px;
					line-height: 16px;
				}
				svg{
					margin: 0 10px 0 0;
				}
			}
			&:last-child{
				@include align-items(flex-end);
				padding: 20px 0 20px 30px;
				a{
					.navPage-section__span{
						text-align: right
					}
					.navPage-section__name{
						text-align: right
					}
				}
			}
		}
	}
}