.pagination-box{
    padding: 40px 0 0;
    text-align: center;
	.pagination{
		display: inline-block;
		vertical-align: top;
		margin: 0;
		padding: 0;
		li{
			margin: 0 -1px;
			a{
				@include flexbox();
				@include align-items(center);
				@include justify-content(center);
				width: 50px;
				height: 50px;
				padding: 0;
				text-align: center;
				background: transparent;
				border-color: $colorD9DDE8;
				color: $color161616;
				font-size: 16px;
				font-family: $fontMedium;
				font-weight: 500;
				line-height: 1.0;
				@include border-radius(0 !important) ;
				&:hover, &:focus{
					background: transparent;
					color: $color93754D;
				}
			}
			&.active{
				pointer-events: none;
				a, span{
				    background: $color93754D;
					border-color: $colorD9DDE8;
					color: #fff;
				}
			}
			&.disabled{
				a{
					color: rgba($color161616, 0.5);
				}
			}
		}
	} 		
}

@media (max-width: 1600px){
	.pagination-box{
		.pagination{
			li{
				a{
					width: 46px;
					height: 46px;
					font-size: 16px;
					line-height: 1.0;
				}
			}
		} 		
	}
}

@media (max-width: 1100px){
	.pagination-box{
		.pagination{
			li{
				a{
					width: 40px;
					height: 40px;
					font-size: 14px;
					line-height: 1.0;
				}
			}
		} 		
	}
}

@media (max-width: 640px){
	/* Pagination */
	.pagination-box{
		.pagination{
			li{
				a{
					width: 36px;
					height: 36px;
				}
			}
		}
	} 		
}

@media (max-width: 480px){
	/* Pagination */
	.pagination-box{
		.pagination{
			li{
				a{
					width: 32px;
					height: 32px;
				}
			}
		}
	} 		
}