.sitemap-menu{
	margin: 0; 
	padding: 0; 
	line-height: 1.2; 
	list-style: none;
	ul{
		padding: 0; 
		line-height: 1.2; 
		list-style: none;
		margin: 5px 0 0 15px;
		li{
			margin: 0; 
			padding: 0; 
			line-height: 1.2; 
			list-style: none;
			position: relative;
   			padding: 0 0 5px 20px;
   			&:before{
   				content: ""; 
   				position: absolute; 
   				top: 0; 
   				left: 0;
				width: 1.1em; 
				height: .7em; 
				border-bottom:1px solid #ccc;
   			}
		}
	}
	li{
		a{
			color: $color161616;
			font-size: 16px;
			font-family: $fontRegular;
			line-height: 22px;
			text-decoration: underline;
			&:hover{
				color: $color93754D;
			}
		}
		&:not(:last-child){
			border-left: 1px solid #ccc;
		}
		&:last-child{
			&:before{
				width: calc(1.1em - 1px); 
				border-left: 1px solid #ccc;
			}
		}
	}
}