.news-view{
	.news-view__info{
		width: 790px;
	}
	.news-view__sidebar{
		width: 380px;
	}
	.news-view__date{
		color: $color828282;
		font-size: 14px;
		font-family: $fontRegular;
		font-weight: normal;
		line-height: 140%;
		padding: 5px 0 23px;
	}
}

.news-sidebar{
	.news-sidebar__header{
		color: $color101010;
		font-size: 32px;
		font-family: $fontMedium;
		font-weight: 500;
		line-height: 100%;
		padding: 0 0 12px;
	}
	.news-box{
		width: 100%;
		margin: 0;
		.news-box__item{
			width: 100%;
			margin: 0 0 40px;
		}
	}
}

@media (max-width: 1600px){
	.news-view{
		.news-view__info{
			width: 680px;
		}
		.news-view__sidebar{
			width: 290px;
		}
		.news-view__date{
			padding: 5px 0 18px;
		}
	}

	.news-sidebar{
		.news-sidebar__header{
			font-size: 26px;
			line-height: 100%;
			padding: 0 0 12px;
		}
		.news-box{
			width: 100%;
			margin: 0;
			.news-box__item{
				width: 100%;
				margin: 0 0 40px;
			}
		}
	}
}

@media (max-width: 1100px){
	.news-view{
		.news-view__info{
			width: 100%;
		}
		.news-view__sidebar{
			width: 100%;
			padding: 40px 0 0;
		}
		.news-view__date{
			padding: 5px 0 18px;
		}
	}

	.news-sidebar{
		.news-sidebar__header{
			font-size: 26px;
			line-height: 100%;
			padding: 0 0 12px;
		}
		.news-box{
			margin: 0 -10px;
			.news-box__item{
				width: calc(100% / 3 - 20px);
				margin: 0 10px 20px;
			}
		}
	}
}

@media (max-width: 768px){
	.news-sidebar{
		.news-sidebar__header{
			font-size: 24px;
			line-height: 100%;
			padding: 0 0 12px;
		}
		.news-box{
			.news-box__item{
				width: calc(100% / 2 - 20px);
			}
		}
	}
}

@media (max-width: 480px){
	.news-sidebar{
		.news-sidebar__header{
			font-size: 24px;
			line-height: 100%;
			padding: 0 0 12px;
		}
		.news-box{
			.news-box__item{
				width: calc(100% / 1 - 20px);
			}
		}
	}
}

@media (max-width: 360px){
	.news-sidebar{
		.news-sidebar__header{
			font-size: 24px;
			line-height: 100%;
			padding: 0 0 12px;
		}
		.news-box{
			margin: 0 -6px;
			.news-box__item{
				width: calc(100% / 1 - 12px);
				margin: 0 6px 30px;
			}
		}
	}
}